html body.CRO-8475 .product-add-form .calc-container{
    gap: 18px;
}

html body.CRO-8475 .product-add-form .calc-container .qty-input-group {
    display: flex;
    flex-basis: 65%;
}

html body.CRO-8475 .product-add-form .calc-container .btn-calculator {
    flex-direction: row;
    width: 100%;
    max-width: 35%;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 126%;
    font-family: Source Sans Pro;
}

html body.CRO-8475 .box-tocart .actions .add-to-cart-note{
    text-align: center;
}

html body.CRO-8475 .product-info-main .installation-notice {
    border-radius: 4px;
    background: #FFFCE8;
    color: #404040;
    font-family: "Source Sans Pro";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 14px 20px;
}

html body.CRO-8475 .catalog-product-view .vas-modals-container .pdp-vas-modals .vas-modal_button {
    gap: 8px !important;
}

html body.CRO-8475 .catalog-product-view .vas-modals-container .pdp-vas-modals .vas-modal_button{
    gap: 8px;

}

html body.CRO-8475 span.tooltip-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
}

html body.CRO-8475 .installation-notice .tooltip-trigger{
    padding: 0;
    width: 18px;
    height: 18px;
}

html body.CRO-8475 .product-add-form .trust-message{
    display: none;
}

html body.CRO-8475 .product-info-price {
    border-top: 1px solid #E6E6E6 !important;
    padding-top: 24px;
}

html body.CRO-8475 .tooltip-trigger .tooltip-icon svg{
    display: none;
}

html body.CRO-8475 .tooltip-trigger .tooltip-icon::after{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("https://crp-clients-images.s3.af-south-1.amazonaws.com/CTM/PDP+%7C+Buy+Box+simplification+%7C+All+%7C+CRO-8475/CRO-8475-5.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

html body.CRO-8475 .tooltip-trigger .tooltip-icon{
    position: relative;
    width: 18px;
    height: 18px;
    display: inline-block;
}

@media (max-width:800px){
    html body.CRO-8475.catalog-product-view .page-wrapper #maincontent.page-main .media-info-main .product-info-main .product-info-price {
    margin-top: 0 !important;
    border: none !important;
}
}

@media (max-width:1250px) {

    html body.CRO-8475 .product-add-form .calc-container .btn-calculator{
        max-width: 100%;
    }

    html body.CRO-8475 div#pdp-payflex {
        border-top: 1px solid #E6E6E6 !important;
        margin-top: 16px;
        padding-top: 16px;
    }
    
}