html body.cro-t-130.catalog-product-view .vas-modals-container .pdp-vas-modals .vas-modal_button {
    background-color: #fff;
}

html body.cro-t-130 .vas-modals-container .pdp-vas-modals {
    min-height: 172px;
}

html body.cro-t-130.catalog-product-view .vas-modals-container .pdp-vas-modals .vas-modal_button svg {
    display: none;
}

html body.cro-t-130.catalog-product-view .vas-modals-container .pdp-vas-modals .vas-modal_button .vas-modal_icon {
    margin-right: 0;
}

html body.cro-t-130.catalog-product-view .vas-modals-container li.modal_4.vas-modal_button .vas-modal-title {
    /* max-width: 110px; */
}

html body.cro-t-130.catalog-product-view .vas-modals-container .pdp-vas-modals {
    /* flex-direction: row; */
}

html body.cro-t-130.catalog-product-view .vas-modals-container .pdp-vas-modals .vas-modal_button {
    /* flex-direction: column; */
}

html body.cro-t-130.catalog-product-view .vas-modals-container .pdp-vas-modals .vas-modal_button .vas-modal-title {
    text-align: center;
    margin-top: 5px;
}

html body.cro-t-130.catalog-product-view .vas-modals-container li.modal_2.vas-modal_button .vas-modal-title::after {
    /* content: 'Fast Nationwide delivery';
    font-size: 14px;
    line-height: 0; */
}

html body.cro-t-130.catalog-product-view .vas-modals-container li.modal_2.vas-modal_button .vas-modal-title {
    /* font-size: 0px; */
}

html body.cro-t-130.catalog-product-view .vas-modals-container .pdp-vas-modals .vas-modal_button .vas-modal-title {
    /* font-family: Open Sans; */
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #000;
}

html body.cro-t-130 .vas-modals-container .modal_1 img.vas-modal_icon {
    content: url('https://cdn-3.convertexperiments.com/uf/1004973/10045476/icon-box%201.png');
}

html body.cro-t-130 .vas-modals-container .modal_3 img.vas-modal_icon {
    content: url('https://cdn-3.convertexperiments.com/uf/1004973/10045476/product-return-icon%201.png');
}

html body.cro-t-130 .vas-modals-container .modal_4 img.vas-modal_icon {
    content: url('https://cdn-3.convertexperiments.com/uf/1004973/10045476/icon-truck.png');
}

html body.cro-t-130 .vas-modals-container .modal_2 img.vas-modal_icon {
    content: url('https://cdn-3.convertexperiments.com/uf/1004973/10045476/truck-icon.png');
}

html body.cro-t-130.catalog-product-view .vas-modals-container .pdp-vas-modals .vas-modal_button .vas-modal_icon {
    /* height: 50px;
    width: 50px; */
}

html body.cro-t-130 .modal_2 img.vas-modal_icon {
    /* margin-bottom: 5px; */
}

/* @media (max-width:1414px) {
    html body.cro-t-130 .vas-modals-container .pdp-vas-modals {
        display: grid !important;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    html body.cro-t-130.catalog-product-view .vas-modals-container .pdp-vas-modals .vas-modal_button .vas-modal-title {
        max-width: 110px;
    }
    html body.cro-t-130.catalog-product-view .vas-modals-container li.modal_4.vas-modal_button .vas-modal-title {
        max-width: 100px;
    }
    html body.cro-t-130 .modal_1.vas-modal_button {
        margin-bottom: 75px !important;
    }
    html body.cro-t-130 .vas-modals-container {
        margin-bottom: 50px;
    }
  } */

/* --------------------------------113----------------------------------- */
html body.cro-t-130.catalog-product-view .vas-modals-container .pdp-vas-modals .vas-modal_button {
    height: auto !important;
}

html body.cro-t-113.cro-t-113-hide .cro-t-113-lightBox {
    display: none;
}

html body.cro-t-113 .cro-t-113-lightBox {
    display: block;
}

html body.cro-t-113 .cro-t-113-lightBox {
    text-align: center;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 999992;
    padding: 10px;
    overflow-y: auto;
    display: flex;
}

html body.cro-t-113 .cro-t-113-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background: rgba(0, 0, 0, 0.5);
    height: 520px;
    min-height: 100%;
}

html body.cro-t-113 .cro-t-113-modal {
    border-radius: 6px;
    position: relative;
    background-color: rgb(255, 255, 255);
    padding: 0px;
    width: 100%;
    max-width: 650px;
    text-align: left;
    overflow: visible;
    box-sizing: border-box !important;
    margin: auto !important;
}

html body.cro-t-113 .cro-recipe-113-img-new-part {
    margin-right: 30px;
    margin-top: -15px;
    height: 114px;
    border-radius: 50%;
    overflow: hidden;
    width: 114px;
}

html body.cro-t-113 img.cro-t-113-cross-img {
    max-height: 25px;
    max-width: 25px;
    padding-top: 15px;
    padding-right: 15px;
    cursor: pointer;
}

*/ html body.cro-t-113:not(.cro-t-113-hide) {
    overflow: hidden;
    height: auto !important;
}

html body.cro-t-113 .cro-t-113-cross {
    z-index: 99;
    position: relative;
    display: flex;
    height: 30px;
    line-height: 20px;
    text-align: center;
    /* cursor: pointer; */
    justify-content: flex-end;
    width: 100%;
    background-color: #f8f8f8;
}

/* html body.cro-t-113 .cro-t-113-cross:hover {
    transform: scale(1.1);
  } */
@media (max-width: 767px) {
    html body.cro-t-113 .cro-recipe-113-img-new-part {
        margin-right: 0px;
        margin-top: 0px;
    }

    html body.cro-t-130 .vas-modals-container .pdp-vas-modals {
        min-height: auto;
    }
}

/* -----Modal Code---- */
html body .cro-main-content {
    position: relative;
    text-align: center;
}

span.cro-cross img {
    width: 25px;
}

html body.cro-t-113 .cro-recipe-113-modal-top-part {
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-top: 10px;
    padding-right: 30px;
    background-color: rgba(248, 248, 248, 1);
}

html body.cro-t-113 p.cro-top-header-text {
    font-family: "open sans", "helvetica neue", Helvetica, Arial;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(237, 28, 36, 1);
    margin-bottom: 3px;
}

html body.cro-t-113 .cro-card-icon-text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(21, 118, 31, 1);
    width: 100%;
    max-width: 245px;
    max-height: 48px;
    cursor: pointer;
}

html body.cro-t-113 p.cro-top-header-text-sub {
    font-family: "Source Sans Pro", "helvetica neue", Helvetica, Arial;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(102, 102, 102, 1);
}

html body.cro-t-113 p.cro-recipe-113-sub-text-last {
    font-family: "open sans", "helvetica neue", Helvetica, Arial;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(126, 126, 126, 1);
    margin: 0;
    padding-top: 10px;
    padding-bottom: 27px;
}

html body.cro-t-113 p.cro-card-text {
    /* font-family: Inter; */
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    margin: 0;
    padding: 15px 0px;
    text-transform: uppercase;
    font-family: "open sans", "helvetica neue", Helvetica, Arial;
}

html body.cro-t-113 img.cro-card-icon {
    width: 100%;
    max-width: 25px;
    margin-right: 15px;
    margin-left: 15px;
}

.cro-recipe-113-modal-lower-first-numder {
    width: 30px;
    height: 30px;
    background-color: rgba(129, 199, 132, 1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    color: #fff;
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

html body.cro-t-113 p.cro-recipe-113-modal-lower-first-text {
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(102, 102, 102, 1);
    margin: 0;
}

.cro-recipe-113-modal-lower-first-numder .cro-recipe-113-modal-lower-first-part {
    display: flex;
    align-items: center;
    padding-left: 6px;
}

/* img.cro-recipe-113-last-icon {
    max-width: 38px;
  } */
.cro-recipe-113-modal-lower-icon-text-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(248, 248, 248, 1);
    padding: 11px 9px;
    margin-bottom: 13px;
    cursor: pointer;
}

html body.cro-t-113 p.cro-recipe-113-modal-lower-text {
    /* font-family: Inter; */
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    padding-top: 26px;
    padding-bottom: 28px;
    margin: 0;
    color: #000;
    font-family: "open sans", "helvetica neue", Helvetica, Arial;
}

html body.cro-t-113 .cro-recipe-113-modal-lower-part {
    padding: 0px 30px;
}

@media (max-width:767px) {
    html body.cro-t-113 .cro-recipe-113-modal-top-part {
        display: flex;
        flex-direction: column;
    }

    img.cro-recipe-113-img {
        width: 120px;
        margin-right: 0px;
    }

    html body.cro-t-113 p.cro-top-header-text {
        text-align: center;
        padding-top: 20px;
    }

    html body.cro-t-113 p.cro-top-header-text-sub {
        text-align: center;
        padding-bottom: 5px;
    }

    html body.cro-t-113 p.cro-recipe-113-sub-text-last {
        text-align: center;
        padding-bottom: 40px;
        padding-top: 12px;
    }

    html body.cro-t-113 .cro-recipe-113-modal-lower-part {
        padding: 0px 15px;
        padding-bottom: 0px;
    }

    html body.cro-t-113 p.cro-recipe-113-modal-lower-text {
        padding-top: 30px;
        padding-bottom: 35px;
    }

    html body.cro-t-113 .cro-recipe-113-modal-top-part {
        padding-left: 10px;
        padding-top: 23px;
        padding-right: 10px;
    }

    html body.cro-t-113 .cro-t-113-cross {
        display: none;
    }
}

@media (max-width:550px) {
    html body .cro-popup {
        max-width: 350px;
    }
}

@media (max-width:399px) {
    html body .cro-popup {
        max-width: 290px;
    }
}

/* ----new--part---- */
html body.cro-t-113 .cro-t-113-modal #HowToInstall .mgz-element-inner .mgz-element.mgz-element-row {
    display: none;
}

html body.cro-t-113 .mgz-element-column>.mgz-element-inner {
    padding: 10px 30px;
}

html body.cro-t-113 img.cro-recipe-113-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* html body.cro-t-113-hide {
    overflow: hidden;
  } */
html.cro-scroll-hide {
    overflow: hidden;
}

html body.cro-t-113 .cro-recipe-113-model-open {
    height: calc(100vh - 80px);
    overflow-y: scroll;
    max-height: 673px;
    box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.26);
}

html body.cro-t-113 .cro-recipe-113-model-open::-webkit-scrollbar {
    width: 5px;
}

/* Track */
html body.cro-t-113 .cro-recipe-113-model-open::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 5px;
}

/* Handle */
html body.cro-t-113 .cro-recipe-113-model-open::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 5px;
}

/* .cro-t-113-modal #HowToInstall  */
@media (max-width:767px) {
    html body.cro-t-113 .cro-recipe-113-model-open {
        max-height: calc(100vh - 180px);
    }

    /* html body.cro-t-113 .cro-recipe-113-modal-top-part {
        max-height: fit-content;
    } */
    html body.cro-t-113 .cro-t-113-modal #HowToInstall .mgz-element-column>.mgz-element-inner {
        padding: 10px 7px;
    }

    html body.cro-t-113 img.cro-recipe-113-img {
        margin-right: 0px;
    }

    html body.cro-t-113 .cro-recipe-113-text-part {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-height: fit-content;
    }
}

html body.cro-t-113 .cro-t-113-modal .tile-instructions .mgz-panel-heading .mgz-panel-heading-title a .mgz-accoridon-icon-plus {
    font-size: 12px;
    font-weight: 900;
}

html body.cro-t-113 .cro-t-113-modal .mgz-element .mgz-panel .mgz-panel-heading.mgz-icon-position-right a.has-icon {
    padding: 15px 40px 15px 14px;
    display: flex;
    align-items: center;
}

html body.cro-t-113 .cro-t-113-modal .mgz-element .mgz-panel .mgz-panel-heading .mgz-panel-heading-title span {
    font-family: "Source Sans Pro", "helvetica neue", Helvetica, Arial;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(102, 102, 102, 1);
}

html body.cro-t-113 .cro-t-113-modal .tile-instructions .mgz-panel-heading .mgz-panel-heading-title a .mgz-accoridon-icon-plus {
    padding: 8px;
    border-radius: 50%;
    /* border: 2px; */
}

html body.cro-t-113 .cro-t-113-modal .tile-instructions .mgz-panel-heading .mgz-panel-heading-title a::before {
    margin-right: 18px;
    padding: 5px 11px 6px;
    font-size: 16px;
    display: block;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

@media (max-width:767px) {
    html body.cro-t-113 .cro-t-113-modal .tile-instructions .mgz-panel-heading .mgz-panel-heading-title a::before {
        margin-right: 10px;
    }
}

html body.cro-t-113 .cro-t-113-modal .tile-instructions .mgz-panel-heading .mgz-panel-heading-title a .mgz-accoridon-icon-plus {
    border: 2px solid #ed1c24 !important;
}

html body.cro-t-113 .cro-t-113-modal .tile-instructions .mgz-active .mgz-panel-heading .mgz-panel-heading-title a .mgz-accoridon-icon-plus {
    border: 1.5px solid #81c784 !important;
}

@media (max-width:410px) {
    html body.cro-t-113 .cro-t-113-modal .mgz-element .mgz-panel .mgz-panel-heading .mgz-panel-heading-title span {
        max-width: 235px;
    }
}

html body.cro-t-113 .title-wrapper #tab-HowToInstall {
    display: none !important;
}

/* --------------------------------NEW------------------------ */
html body.cro-t-130 .pdp-vas-modals .vas-modal-title span {
    color: #000;
    text-align: center;
    font-family: "Open Sans", source sans pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

html body.cro-t-130 .pdp-vas-modals .vas-modal_button {
    height: auto;
}

html body.cro-t-130 .vas-modals-container .pdp-vas-modals {
    flex-direction: row;
}

html body.cro-t-130 .vas-modals-container .pdp-vas-modals .vas-modal_button {
    flex-direction: column;
}

html body.cro-t-130 .vas-modals-container .pdp-vas-modals .vas-modal_button {
    width: 100%;
}


html body.cro-t-130 .vas-modals-container .pdp-vas-modals .vas-modal_button.cro-install .vas-modal-title {
    display: flex;
    width: 100%;
    justify-content: center;
    max-width: 60px;
}

html body.cro-t-130.catalog-product-view .vas-modals-container .pdp-vas-modals .vas-modal_button .vas-modal_icon {
    width: 49px;
    height: 49px;
}

html body.cro-t-130.catalog-product-view .vas-modals-container .pdp-vas-modals .vas-modal_button .vas-modal_icon img {
    width: 100%;
}


@media (max-width:1480px) {
    html body.cro-t-130 .vas-modals-container .pdp-vas-modals {
        flex-wrap: wrap;
    }

    html body.cro-t-130 .vas-modals-container .pdp-vas-modals .vas-modal_button {
        width: 20%;
    }
}


@media (max-width:1474px) {
    html body.cro-t-130 .vas-modals-container .pdp-vas-modals .vas-modal_button {
        width: 33.3%;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    html body.cro-t-130.catalog-product-view .vas-modals-container .pdp-vas-modals .vas-modal_button .vas-modal-title {
        max-width: 95px;
    }
}

@media (max-width:1187px) {
    html body.cro-t-130.catalog-product-view .vas-modals-container .pdp-vas-modals .vas-modal_button .vas-modal-title {
        font-size: 12px;
    }

    html body.cro-t-130 .pdp-vas-modals .vas-modal-title span {
        font-size: 12px;
    }
}