html body.cro-t-ctm-114 .cro-114-minimizing-installation-inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

html body.cro-t-ctm-114 .cro-114-minimizing-installation-content p {
    margin: 0;
    color: #333;
    font-family: "Source Sans Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 5px;
}

html body.cro-t-ctm-114 .accardion-title.list-seperator {
    padding: 10px 32px 10px 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

html body.cro-t-ctm-114 .cro-114-minimizing-installation-img {
    max-width: 21px;
    max-height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
}

html body.cro-t-ctm-114 .installation-span>span {
    font-size: 0;
}

html body.cro-t-ctm-114 span.show-ins-price {
    margin: 0;
    color: #333;
    font-family: "Source Sans Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

html body.cro-t-ctm-114 .cro-114-minimizing-installation-img {
    max-width: 21px;
    max-height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
}

html body.cro-t-ctm-114 .accardion-title::after {
    content: '';
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    transition: transform 0.25s ease-in-out;
    width: 16px;
    height: 16px;
    background-image: url('https://crp-clients-images.s3.af-south-1.amazonaws.com/CTM/Recipe+114+_CTM_chevron-down.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center 1px;
    background-color: #333;
    border-radius: 50%;
}

html body.cro-t-ctm-114 .accardion-title.flip::after {
    transform: translateY(-50%);
}

@media (max-width: 1199px) {
    html body.cro-t-ctm-114 .cro-114-minimizing-installation-content p {
        font-size: 15px;
    }

    html body.cro-t-ctm-114 span.show-ins-price {
        font-size: 15px;
    }

    html body.cro-t-ctm-114 .cro-114-minimizing-installation-inner {
        gap: 8px;
    }
}

@media (max-width: 385px) {
    html body.cro-t-ctm-114 .cro-114-minimizing-installation-inner {
        gap: 4px;
    }

    html body.cro-t-ctm-114 .cro-114-minimizing-installation-content p {
        width: max-content;
        margin-right: 2px;
    }

    html body.cro-t-ctm-114 .accardion-title.list-seperator {
        padding: 10px 15px 10px 5px;
    }

    html body.cro-t-ctm-114 .accardion-title::after {
        right: 5px;
        width: 13px;
        height: 13px;
    }
}

@media (max-width: 360px) {
    html body.cro-t-ctm-114 .cro-114-minimizing-installation-content p {
        font-size: 13px;
    }

    html body.cro-t-ctm-114 .cro-114-minimizing-installation-img {
        max-width: 17px;
        max-height: 17px;
    }

    html body.cro-t-ctm-114 span.show-ins-price {
        font-size: 13px;
    }
}