html body.cro-review-test-1.cro-t-58-widget section.new-sec {
    background-color: #FAEBD5;
    padding-top: 50px;
}
html body.cro-review-test-1.cro-t-58-widget .top-header {
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    margin-top: 60px;
    margin-bottom: 9px;
}
html body.cro-review-test-1.cro-t-58-widget p.sec-frst-text {
    font-size: 18px;
    font-weight: 400;
    margin-right: 8px;
}
html body.cro-review-test-1.cro-t-58-widget p.sec-sec-text {
    font-size: 18px;
    font-weight: 400;
    margin-left: 8px;
}
html body.cro-review-test-1.cro-t-58-widget .sec-header-part {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
html body.cro-review-test-1.cro-t-58-widget .sec-part {
    text-align: center;
    padding-bottom: 40px;
}
html body.cro-review-test-1.cro-t-58-widget img.top-icon {
    width: 100px;
    height: 20px;
    max-width: 100%;
    max-height: 100%;
    margin-top: 4px;
}
/* --------Card--------- */
html body.cro-review-test-1.cro-t-58-widget .cards-part {
    display: flex;
    justify-content: center;
}
html body.cro-review-test-1.cro-t-58-widget .first-card {
    width: 100%;
    max-width: 300px;
}
html body.cro-review-test-1.cro-t-58-widget .back-part {
    background-color: #fff;
    border: 1px solid #CDBBA1;
    padding: 20px 20px;
    height: 100%;
    min-height: 390px;
}
html body.cro-review-test-1.cro-t-58-widget .sec-card {
    max-width: 300px;
    margin: 0px 20px;
}
html body.cro-review-test-1.cro-t-58-widget .third-card {
    max-width: 300px;
    margin-right: 20px;
}
html body.cro-review-test-1.cro-t-58-widget .four-card {
    max-width: 300px;
}
html body.cro-review-test-1.cro-t-58-widget .card-header {
    font-size: 20px;
    font-weight: 700;
}
html body.cro-review-test-1.cro-t-58-widget p.under-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    width: 100%;
    max-width: 90%;
    margin-bottom: 30px;
}
html body.cro-review-test-1.cro-t-58-widget p.clint-name {
    font-size: 20px;
    font-weight: 700;
    color: #D9A937;
    margin-top: 5px;
    margin-bottom: 5px;
}
.cards-part>div {
    min-height: 390px;
}
html body.cro-review-test-1.cro-t-58-widget img.card-img-1 {
    width: 100%;
    max-width: 90px;
}
section#second-call-to-action {
    background-color: white;
}
/* ---Header--part--- */
html body.cro-review-test-1.cro-t-58-widget .img-icon {
    width: 28px;
    height: 28px;
    max-width: 100%;
    max-height: 100%;
}
html body.cro-review-test-1.cro-t-58-widget .main-icon {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 6px;
}

html body.cro-review-test-1.cro-t-58-widget .btn-first-text {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    color: white;
    line-height: 19.36px;
}
html body.cro-review-test-1.cro-t-58-widget p.btn-sec-text {
    font-size: 15px;
    font-weight: 700;
    margin: 0;
    color: #fff;
    padding-right: 6px;
    line-height: 18px;
}
html body.cro-review-test-1.cro-t-58-widget p.btn-last-text {
    font-size: 15px;
    font-weight: 400;
    margin: 0;
    color: #ACF1F0;
    line-height: 18px;
    letter-spacing: 0em;
}
html body.cro-review-test-1.cro-t-58-widget .btn-sec-part {
    display: flex;
    align-content: center;
    align-items: center;
    /* padding: 1px 0px; */
}
html body.cro-review-test-1.cro-t-58-widget img.btn-star-sec {
    width: 91px;
    height: 19px;
    max-width: 100%;
    max-height: 100%;
}
html body.cro-review-test-1.cro-t-58-widget .cro-header-tag {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
html body.cro-review-test-1.cro-t-58-widget .cro-header-tag>.items-start {
    width: 80%;
    column-gap: 0;
}
.cro-top-button-sec {
    position: relative;
    z-index: 999;
}
section.dark {
    --tw-bg-opacity: 1;
    background-color: #EEEEEE;
}
html body.cro-review-test-1.cro-t-58-widget .cro-top-button-sec-mobile {
    display: none;
}
/* ------media query------ */
@media (max-width:1279px) {
    html body.cro-review-test-1.cro-t-58-widget .cards-part {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    html body.cro-review-test-1.cro-t-58-widget .first-card {
        width: 100%;
        margin: auto;
        max-width: 300px;
        margin-right: 15px;
    }
    html body.cro-review-test-1.cro-t-58-widget .sec-card {
        width: 100%;
        margin: auto;
        max-width: 300px;
        margin-left: 15px;
    }
    html body.cro-review-test-1.cro-t-58-widget .third-card {
        width: 100%;
        margin: auto;
        max-width: 300px;
        /* margin-top: 30px; */
        margin-right: 15px;
    }
    html body.cro-review-test-1.cro-t-58-widget .four-card {
        width: 100%;
        max-width: 300px;
        margin: auto;
        margin-top: 30px;
        margin-left: 15px;
    }
}
@media (max-width: 1023px) {
    html body.cro-review-test-1.cro-t-58-widget .cards-part {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    html body.cro-review-test-1.cro-t-58-widget .first-card {
        width: 90%;
        margin: auto;
        margin-right: 10px;
    }
    html body.cro-review-test-1.cro-t-58-widget .sec-card {
        width: 90%;
        margin: auto;
        margin-left: 10px;
    }
    html body.cro-review-test-1.cro-t-58-widget .third-card {
        width: 90%;
        margin: auto;
        margin-right: 10px;
        margin-top: 20px;
    }
    html body.cro-review-test-1.cro-t-58-widget .four-card {
        width: 90%;
        margin: auto;
        margin-left: 10px;
        margin-top: 20px;
    }
    html body.cro-review-test-1.cro-t-58-widget .sec-header-part {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    html body.cro-review-test-1.cro-t-58-widget p.sec-frst-text {
        margin-bottom: 0;
    }
    html body.cro-review-test-1.cro-t-58-widget .top-header {
        margin-top: 0;
    }
    html body.cro-review-test-1.cro-t-58-widget section.new-sec {
        padding-top: 25px;
    }
}
@media (max-width: 767px) {
    html body.cro-review-test-1.cro-t-58-widget .cro-top-button-sec {
        display: none;
    }
    html body.cro-review-test-1.cro-t-58-widget section#call-to-action-and-form {
        overflow: visible;
        padding-top: 0;
    }
    html body.cro-review-test-1.cro-t-58-widget .cro-header-tag>.items-start {
        width: 100%;
    }
    html body.cro-review-test-1.cro-t-58-widget .cro-top-button-sec-mobile {
        position: relative;
        z-index: 99;
        display: flex !important;
        justify-content: center;
        top: 0;
    }
    html body.cro-review-test-1.cro-t-58-widget.cro-sticky .cro-top-button-sec-mobile {
        position: fixed;
        z-index: 99999;
        /* top: 10px; */
        top: 0;
        right: 0;
        left: 0;
        margin: auto;
    }
}
@media (max-width: 767px) {
    html body.cro-review-test-1.cro-t-58-widget .cards-part {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    html body.cro-review-test-1.cro-t-58-widget .first-card {
        width: 100%;
        margin: auto;
        max-width: 300px;
    }
    html body.cro-review-test-1.cro-t-58-widget .sec-card {
        width: 100%;
        margin: auto;
        max-width: 300px;
        margin-top: 30px;
    }
    html body.cro-review-test-1.cro-t-58-widget .third-card {
        width: 100%;
        margin: auto;
        max-width: 300px;
        margin-top: 30px;
    }
    html body.cro-review-test-1.cro-t-58-widget .four-card {
        width: 100%;
        max-width: 300px;
        margin: auto;
        margin-top: 30px;
    }
    html body.cro-review-test-1.cro-t-58-widget .sec-part {
        padding-bottom: 30px;
    }
}

/* ------CSS for New Added Part for New test------ */
html body.cro-review-test-1.cro-t-58-widget .top-button {
    max-height: 67px;
    background-color: #4AAEAC;
    border-radius: 50px;
    display: flex;
    align-items: center;
    /* padding-top: 5px; */
    /* padding-bottom: 5px; */
    max-width: 416px;
    width: 100%;
    min-width: 416px;
}

html body.cro-review-test-1.cro-t-58-widget .cro-top-button-inner-left {
    display: flex;
    align-items: center;
    border-right: 1px solid #2D7472;
    padding-top: 5px;
    padding-bottom: 5px;
}

html body.cro-review-test-1.cro-t-58-widget .cro-top-button-inner-right {
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.cro-top-button-inner-right .btn-text-sec {
    margin-left: 15px;
}

.cro-top-button-inner-left .btn-text-sec {
    margin-right: 5px;
}

html body.cro-review-test-1.cro-t-58-widget .main-icon.main-icon-two {
    max-height: 51px;
    max-width: 51px;
    background-color: transparent;
    margin-right: 0;
    margin-left: 15px;
}

html body.cro-review-test-1.cro-t-58-widget img.img-icon.cro-img-clockIcon {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

html body.cro-review-test-1.cro-t-58-widget .cro-top-button-inner-right .btn-first-text{
    line-height: 22.4px;
}

html body.cro-review-test-1.cro-t-58-widget .cro-top-button-inner-right p.btn-sec-text {
    line-height: 22.4px;
}

@media (max-width: 767px) {
    html body.cro-review-test-1.cro-t-58-widget .cro-top-button-sec-mobile .top-button{
        max-width: 100%;
        justify-content: center;
        border-radius: 0;
        min-width: 100%;
    }
    html body.cro-review-test-1.cro-t-58-widget .cro-top-button-inner-left {
        width: 50%;
        justify-content: right;
        padding: 11px 19px 11px 2px;
    }
    html body.cro-review-test-1.cro-t-58-widget .cro-top-button-inner-right{
        width: 50%;
        flex-direction: row-reverse;
        padding: 11px 2px 11px 0;
        /* padding-left: 0; */
        justify-content: left;
    }
    .cro-top-button-inner-right .btn-text-sec{
        margin-left: 0;
    }
    html body.cro-review-test-1.cro-t-58-widget .btn-first-text{
        font-size: 14px;
        line-height: 15.4px !important;
    }
    html body.cro-review-test-1.cro-t-58-widget p.btn-sec-text{
        font-size: 14px;
        line-height: 15.4px !important;
    }
    html body.cro-review-test-1.cro-t-58-widget p.btn-last-text{
        font-size: 14px;
        line-height: 15.4px !important;
    }
    html body.cro-review-test-1.cro-t-58-widget img.btn-star-sec{
        width: 100%;
        height: 100%;
        max-width: 62px;
        max-height: 11px;
    }
    html body.cro-review-test-1.cro-t-58-widget .main-icon{
        height: 38px;
        width: 38px;
        margin-left: 9px;
        margin-right: 6px;
    }

    html body.cro-review-test-1.cro-t-58-widget .cro-top-button-inner-right p.btn-sec-text {
        padding-left: 6px;
        padding-right: 0;
    }
    html body.cro-review-test-1.cro-t-58-widget .main-icon.main-icon-two{
        margin-left: 9px;
        margin-right: 6px;
    }
    html body.cro-review-test-1.cro-t-58-widget .cro-header-tag.cro-header-tag-wrapper{
        max-width: 280px;
        width: 100%;
        margin: 0 auto;
    }
    html body.cro-review-test-1.cro-t-58-widget .cro-top-button-inner-left-mob {
        display: flex;
        align-items: center;
        border-right: 1px solid #2D7472;
        width: 50%;
        justify-content: right;
        padding: 11px 19px 11px 2px;
    }
}

@media (max-width: 343px) {
    html body.cro-review-test-1.cro-t-58-widget .btn-first-text{
        font-size: 12px;
        line-height: 14px !important;
    }
    html body.cro-review-test-1.cro-t-58-widget .cro-top-button-inner-right p.btn-sec-text{
        font-size: 12px;
        line-height: 14px !important;
    }
    html body.cro-review-test-1.cro-t-58-widget p.btn-last-text{
        font-size: 12px;
        line-height: 14px !important;
    }
}

@media (min-width: 768px) and (max-width: 1535px) {
    html body.cro-review-test-1.cro-t-58-widget .cro-header-tag>.items-start>.items-start {
        padding: 0;
    }
}

/* ------CSS for New Added Part for New test------ */