html body.cro-t-47-newTemplate #footer {
    padding: 0;
}

html body.cro-t-47-newTemplate .cro-t-47-footer-innerTop {
    background-color: #333333;
    padding-top: 52px;
    padding-bottom: 50px;
}

html body.cro-t-47-newTemplate .cro-t-47-footer-innerBottom p {
    margin: 0;
}

html body.cro-t-47-newTemplate .cro-t-47-footer-innerBottom {
    background-color: #232323;
    padding: 30px 0;
    text-align: center;
}

html body.cro-t-47-newTemplate .cro-t-47-footer-innerTop-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/* html body.cro-t-47-newTemplate .cro-t-47-footer-topContent {} */

/* html body.cro-t-47-newTemplate .cro-t-47-content {
    width: 33%;
} */

html body.cro-t-47-newTemplate .cro-t-47-footer-bottomContent {
    max-width: 285px;
}

html body.cro-t-47-newTemplate .cro-t-47-footer-bottomContent p {
    color: #FFF;
    font-family: 'Inter', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.94px;
    margin: 0;
}

html body.cro-t-47-newTemplate .cro-t-47-footer-topContent p {
    color: #FFF;
    font-family: 'Inter', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16.94px;
    margin-bottom: 20px;
}


html body.cro-t-47-newTemplate .cro-t-47-footer-description p {
    color: #FFF;
    font-family: 'Inter', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.94px;
    margin: 0;
}

html body.cro-t-47-newTemplate .cro-t-47-footer-innerBottom p {
    margin: 0;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    font-family: "Inter", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html body.cro-t-47-newTemplate .cro-t-47-footer-innerBottom p a {
    transition: 0.3s ease;
}

html body.cro-t-47-newTemplate .cro-t-47-footer-innerBottom p a:hover {
    color: rgb(229 154 44 / var(--tw-bg-opacity));
    --tw-bg-opacity: 1;
}


/* working on diploid code */

html body.cro-review-test-1.cro-t-58-widget.cro-t-47-newTemplate section.new-sec {
    background-color: #FFFFFF;
}

html body.cro-review-test-1.cro-t-58-widget.cro-t-47-newTemplate .first-card,
html body.cro-review-test-1.cro-t-58-widget.cro-t-47-newTemplate .sec-card,
html body.cro-review-test-1.cro-t-58-widget.cro-t-47-newTemplate .third-card,
html body.cro-review-test-1.cro-t-58-widget.cro-t-47-newTemplate .four-card {
    border-radius: 4px;
    border: 0px solid #FFF;
    background: rgba(255, 255, 255, 0.56);
    box-shadow: 0px -1px 47px 2px rgba(23, 32, 109, 0.25);
    /* max-width: 245px; */
    width: 100%;
    flex-shrink: 0;
}

html body.cro-review-test-1.cro-t-58-widget.cro-t-47-newTemplate .back-part {
    padding: 26px;
    border: none;
    border-radius: 4px;
}

/* html body.cro-review-test-1.cro-t-58-widget.cro-t-47-newTemplate p.under-text{
    max-width: 200px;
} */

html body.cro-review-test-1.cro-t-58-widget.cro-t-47-newTemplate .top-header {
    color: #333;
    font-family: "Inter", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 33.89px;
}

html body.cro-review-test-1.cro-t-58-widget.cro-t-47-newTemplate p.sec-frst-text {
    color: #333;
    font-family: "Inter", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 0;
}

html body.cro-review-test-1.cro-t-58-widget.cro-t-47-newTemplate p.sec-sec-text {
    color: #333;
    font-family: "Inter", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 0;
}

html body.cro-review-test-1.cro-t-58-widget.cro-t-47-newTemplate .card-header {
    color: #333;
    font-family: "Inter", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 22.4px;
    margin-bottom: 18px;
}

html body.cro-review-test-1.cro-t-58-widget.cro-t-47-newTemplate img.card-img-1 {
    display: none;
}

html body.cro-review-test-1.cro-t-58-widget.cro-t-47-newTemplate p.under-text {
    color: #333;
    font-family: "Inter", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 22.4px;
    margin-bottom: 16px;
}

html body.cro-review-test-1.cro-t-58-widget.cro-t-47-newTemplate p.clint-name {
    color: #333;
    font-family: "Inter", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 22.4px;
    margin: 0;
}

html body.cro-t-47-newTemplate #call-to-action-and-form .overlay {
    background-color: #FFF;
}

html body.cro-twoPartForm-t-1.cro-t-47-newTemplate #call-to-action-and-form h1 {
    color: #333;
    font-family: "Inter", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 32px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
    Line-height: 38.73px
}

html body.cro-twoPartForm-t-1.cro-t-47-newTemplate #call-to-action-and-form h2 {
    color: #333;
    font-family: "Inter", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 32px;
    font-weight: 700;
    line-height: normal;
    margin-top: 0;
    line-height: 38.73px;
    margin-bottom: 22px;
    max-width: 450px;
}



/* working on diploid code */



/* display None */

html body.cro-t-47-newTemplate #footer .body-text {
    display: none;
}

html body.cro-t-47-newTemplate section#second-call-to-action {
    display: none;
}

html body.cro-t-47-newTemplate section#icons {
    display: none;
}

html body.cro-t-47-newTemplate #call-to-action-and-form picture img {
    display: none;
}

html body.cro-t-47-newTemplate #call-to-action-and-form #f683yd {
    display: none;
}

html body.cro-t-47-newTemplate #call-to-action-and-form #ufu52l .body-text {
    display: none;
}

html body.cro-twoPartForm-t-1.cro-t-47-newTemplate .cro-Id-check-btn {
    display: none;
}

/* display None */

@media (min-width: 1280px) {
    /* html body.cro-review-test-1.cro-t-58-widget.cro-t-47-newTemplate .first-card,
    html body.cro-review-test-1.cro-t-58-widget.cro-t-47-newTemplate .sec-card,
    html body.cro-review-test-1.cro-t-58-widget.cro-t-47-newTemplate .third-card,
    html body.cro-review-test-1.cro-t-58-widget.cro-t-47-newTemplate .four-card{
        max-width: 245px;
    } */
}

@media (min-width: 1024px) {
    /* html body.cro-t-47-newTemplate .cro-t-47-footer-innerTop-wrapper{
        max-width: 1024px;
    }

    html body.cro-t-47-newTemplate .cro-new-sec-wrapper {
        max-width: 1024px;
    } */

    html body.cro-t-47-newTemplate .cro-t-47-content.cro-t-47-footer-hour.cro-t-47-footerContent {
        margin: 0 70px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    html body.cro-t-47-newTemplate .cro-t-47-content.cro-t-47-footer-hour.cro-t-47-footerContent {
        margin: 0 10px;
    }
}


@media (min-width: 768px) {
    html body.cro-t-47-newTemplate .cro-t-47-content.cro-t-47-footer-description {
        max-width: 590px;
        width: 100%;
    }

    html body.cro-t-47-newTemplate .cro-t-47-content.cro-t-47-footer-hour.cro-t-47-footerContent {
        max-width: 233px;
        width: 100%;
    }

    html body.cro-t-47-newTemplate .cro-t-47-content.cro-t-47-footer-contact.cro-t-47-footerContent {
        max-width: 285px;
        width: 100%;
    }

    html body.cro-review-test-1.cro-t-58-widget.cro-t-47-newTemplate .sec-part {
        padding-bottom: 149px;
    }

    html body.cro-review-test-1.cro-t-58-widget.cro-t-47-newTemplate section.new-sec {
        padding-bottom: 111px;
    }


}

@media (max-width: 767px) {
    html body.cro-t-47-newTemplate .cro-t-47-footer-innerTop-wrapper {
        flex-direction: column;
    }

    html body.cro-t-47-newTemplate .cro-t-47-content.cro-t-47-footer-hour.cro-t-47-footerContent {
        margin: 46px 0 31px
    }

    html body.cro-t-47-newTemplate .cro-t-47-content.cro-t-47-footer-description {
        max-width: 328px;
    }

    html body.cro-t-47-newTemplate .cro-t-47-footer-innerBottom-wrapper {
        max-width: 327px;
    }

    html body.cro-review-test-1.cro-t-58-widget.cro-t-47-newTemplate .sec-part {
        padding-bottom: 59px;
    }

    html body.cro-review-test-1.cro-t-58-widget.cro-t-47-newTemplate section.new-sec {
        padding-bottom: 94px;
    }

    html body.cro-review-test-1.cro-t-58-widget.cro-t-47-newTemplate .top-header {
        font-size: 26px;
        line-height: 31.37px;
    }

    html body.cro-twoPartForm-t-1.cro-t-47-newTemplate #call-to-action-and-form h1 {
        font-size: 24px;
        line-height: 29.05px;
    }
}


html body.cro-twoPartForm-t-1.cro-t-47-newTemplate .cro-step2 {
    display: none;
}

html body.cro-twoPartForm-t-1.cro-t-47-newTemplate.cro-formHeader #call-to-action-and-form h4::after {
    content: "Enter your ID number for see if you qualify";
    font-family: "Inter", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    /* color: #FFFFFF; */
    font-size: 18px;
    font-weight: 700;
    line-height: 21.78px;
    text-align: left;
    margin-bottom: 30px;
    color: #000000;

}

html body.cro-twoPartForm-t-1.cro-t-47-newTemplate.cro-formHeader #call-to-action-and-form h4 {
    font-size: 0;
    line-height: 0;
    margin-bottom: 30px;
}

html body.cro-twoPartForm-t-1.cro-t-47-newTemplate.cro-formHeader .btn.primary[type="submit"] {
    display: none;
}

html body.cro-twoPartForm-t-1.cro-t-47-newTemplate.cro-formHeader .cro-id-btnNew {
    margin-top: 24px;
}

html body.cro-twoPartForm-t-1.cro-t-47-newTemplate .cro-Id-check-btnNew {
    font-family: "Inter", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.78px;
    text-align: center;
    --tw-text-opacity: 1;
    --tw-bg-opacity: 1;
    background-color: rgb(229 154 44 / var(--tw-bg-opacity));
    border-radius: 9999px;
    text-transform: none;
    letter-spacing: 0;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: .3s;
    cursor: pointer;
    max-height: 54px;
    height: 100%;
    max-width: 100%;
    width: 100%;
    padding: 16px 38px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

html body.cro-twoPartForm-t-1.cro-t-47-newTemplate .cro-Id-check-btnNew:hover {
    --tw-scale-x: 1.03;
    --tw-scale-y: 1.03;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

html body.cro-twoPartForm-t-1.cro-t-47-newTemplate.cro-wrongId #id_number {
    /* border: 2px solid red; */
    --tw-border-opacity: 1;
    border-color: rgb(220 38 38 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(254 202 202 / var(--tw-bg-opacity)) !important;
}

html body.cro-twoPartForm-t-1.cro-t-47-newTemplate.cro-formHeader.cro-formHeader2 #call-to-action-and-form h4::after {
    display: none;
}

html body.cro-twoPartForm-t-1.cro-t-47-newTemplate.cro-formHeader.cro-formHeader2 #id_number {
    display: none;
}

html body.cro-twoPartForm-t-1.cro-t-47-newTemplate.cro-formHeader.cro-formHeader2 .cro-id-btnNew {
    display: none;
}

html body.cro-twoPartForm-t-1.cro-t-47-newTemplate .cro-jm-39-loader-gif {
    max-width: 87px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 28px;
}



html body.cro-twoPartForm-t-1.cro-t-47-newTemplate .cro-jm-39-loader-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

html body.cro-twoPartForm-t-1.cro-t-47-newTemplate h3.cro-jm-39-loader-text {
    font-family: "Inter", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.78px;
    text-align: left;
    margin: 0;
    max-width: 275px;
    width: 100%;
    margin-bottom: 32px;
}

html body.cro-twoPartForm-t-1.cro-t-47-newTemplate.cro-formHeader3 .cro-jm-39-loader {
    display: none;
}

html body.cro-twoPartForm-t-1.cro-t-47-newTemplate.cro-formHeader3 .cro-id-btnNew {
    display: none;
}

html body.cro-twoPartForm-t-1.cro-t-47-newTemplate.cro-formHeader3 .cro-step2 {
    display: block;
}

html body.cro-twoPartForm-t-1.cro-t-47-newTemplate.cro-formHeader3 #id_number {
    display: none;
}

html body.cro-twoPartForm-t-1.cro-t-47-newTemplate.cro-formHeader.cro-formHeader3 #call-to-action-and-form h4::after {
    content: "Enter your ID number for see if you qualify";
    font-family: "Inter", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.78px;
    text-align: left;
    margin-bottom: 30px;
}

html body.cro-twoPartForm-t-1.cro-t-47-newTemplate.cro-formHeader3 #call-to-action-and-form h4:not(.cro-jm-39-newHeader-content) {
    display: none;
}

html body.cro-twoPartForm-t-1.cro-t-47-newTemplate .cro-jm-39-newHeader-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 22px;
    margin-top: 3px;
}

html body.cro-twoPartForm-t-1.cro-t-47-newTemplate h4.cro-jm-39-newHeader-content {
    font-family: "Inter", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.78px;
    text-align: left;
    margin: 0;
    margin-left: 13px;
}

html body.cro-twoPartForm-t-1.cro-t-47-newTemplate .notice.cro-step2 a {
    text-decoration: underline;
}

html body.cro-twoPartForm-t-1.cro-t-47-newTemplate .form-field.cro-step1 {
    margin-bottom: 0 !important;
    border-radius: 5px;
}

html body.cro-twoPartForm-t-1.cro-t-47-newTemplate .form-field.cro-step1 input {
    border-radius: 3px;
    /* border: 1px solid rgba(194, 211, 216, 1); */
    background: rgba(255, 255, 255, 1);
    border: 1px solid #C2D3D8;
}

html body.cro-twoPartForm-t-1.cro-t-47-newTemplate .form-field.cro-step1 input.shadow {
    box-shadow: none
}

html body.cro-twoPartForm-t-1.cro-t-47-newTemplate .cro-jm-39-newHeader-img {
    max-width: 20px;
}

html body.cro-twoPartForm-t-1.cro-t-47-newTemplate.cro-formHeader form[method="POST"] {
    margin-bottom: 5px;
}

html body.cro-twoPartForm-t-1.cro-t-47-newTemplate .form-field.cro-step2 input {
    border-radius: 5px;
}

html body.cro-twoPartForm-t-1.cro-t-47-newTemplate.cro-formHeader3 .btn.primary[type="submit"] {
    max-height: 45px;
    height: 100%;
    max-width: 100%;
    width: 100%;
    padding: 16px 38px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}

html body.cro-twoPartForm-t-1.cro-t-47-newTemplate .cro-jm-39-loader {
    display: none;
}

html body.cro-twoPartForm-t-1.cro-t-47-newTemplate.cro-formHeader2 .cro-jm-39-loader {
    display: block;
}

html body.cro-twoPartForm-t-1.cro-t-47-newTemplate #call-to-action-and-form .relative.container .grid {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

html body.cro-twoPartForm-t-1.cro-t-47-newTemplate #call-to-action-and-form .relative.container .grid .grid-column:nth-child(3) {
    max-width: 492px;
    border-radius: 10px;
    border: 10px solid #FFF;
    background: #F1F1F1;
    background-color: #F1F1F1 !important;
    box-shadow: 0px 40px 46px 1px rgba(38, 54, 72, 0.37), 0px 0px 9px 9px rgb(38 54 72 / 14%) inset;
    padding: 45px 30px;
}


/* ------Latest-Updated-Code---------- */
html body.cro-t-47 section#landing-page-justmoney-logo-white-header-global-section {
    background-color: #FAEBD7;
}

html body.cro-t-47 section#icons {
    display: none;
}

html body.cro-t-47 .cro-t-47-banner-subheading-text {
    font-family: "Inter", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 18px;
    font-weight: 400;
    line-height: 25.2px;
    text-align: left;
    color: #333333;
    margin-bottom: 22px;
    max-width: 465px;
}

html body.cro-t-47 .cro-t-47-banner-left-text {
    font-family: "Inter", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 18px;
    font-weight: 400;
    line-height: 25.2px;
    text-align: left;
    color: #333333;
    margin-left: 12px;
}

html body.cro-t-47 .cro-t-47-banner-left-text-icon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

html body.cro-t-47 .cro-t-47-banner-left-text-icon.text-icon-2 {
    margin: 18px 0;
}

html body.cro-t-47 .cro-t-47-banner-left-text-icon.text-icon-3 {
    margin-bottom: 18px;
}

html body.cro-t-47 .cro-t-47-stopDebt {
    background-color: #F1F1F1;
}

html body.cro-t-47 .cro-t-47-stopDebt-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 100px 10px;
}

html body.cro-t-47 .stopDebt-content-img {
    width: 100%;
}

html body.cro-t-47 .cro-t-47-stopDebt-content.stopDebt-content-img {
    width: 55%;
    position: absolute;
    top: -280px;
    width: 100%;
    max-width: 613px;
    /* left: 250px; */
    left: 0;
}

html body.cro-t-47 .cro-t-47-stopDebt-content.stopDebt-content-text {
    width: 35%;
    padding: 15px;
    margin-left: auto;
}

html body.cro-t-47 .cro-t-47-stopDebt-right-content-text.header-text {
    font-family: "Inter", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 28px;
    font-weight: 700;
    line-height: 33.89px;
    text-align: left;
    color: #333333;
    padding-bottom: 5px;
}

html body.cro-t-47 .cro-t-47-stopDebt-right-content-text.subheader-text {
    font-family: "Inter", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
    color: #333333;
}

html body.cro-t-47 .cro-t-47-stopDebt-content-texPara {
    max-width: 470px;
}

html body.cro-twoPartForm-t-1.cro-t-47-newTemplate .cro-jm-39-loader {
    max-width: 400px;
    margin: 0 auto;
    min-width: 400px;
}

@media (min-width:1024px) {
    html body.cro-t-47 .cro-t-47-stopDebt-mob {
        display: none;
    }
}

@media (max-width:1023px) {
    html body.cro-t-47 .cro-t-47-stopDebt {
        display: none;
    }

    html body.cro-t-47 .cro-t-47-stopDebt-text-content-mob {
        padding-top: 55px;
        padding-bottom: 34px;
        background-color: #F1F1F1;
        margin-top: -100px;
    }

    html body.cro-t-47 .cro-t-47-stopDebt-mob-text {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    html body.cro-t-47 .cro-t-47-stopDebt-content-textTitle-mob {
        width: 100%;
        max-width: 314px;
        padding-bottom: 15px;
    }

    html body.cro-t-47 .cro-t-47-stopDebt-right-mob.header-text {
        font-family: "Inter", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 28px;
        font-weight: 700;
        line-height: 33.89px;
        text-align: center;
        color: #333333;


    }

    .cro-t-47-stopDebt-content-texPara-mob {
        width: 100%;
        max-width: 323px;
    }

    html body.cro-t-47 .cro-t-47-stopDebt-right-mob.subheader-text {
        font-family: "Inter", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 14px;
        font-weight: 400;
        line-height: 19.6px;
        text-align: center;
        color: #333333;

    }

    html body.cro-t-47 .cro-t-47-stopDebt-content-mob.stopDebt-content-img-mob {
        width: 100%;
    }
}

@media (min-width:768px) and (max-width:1023px) {
    html body.cro-t-47 .cro-t-47-stopDebt-text-content-mob {
        margin-top: -175px;
    }

    html body.cro-twoPartForm-t-1.cro-t-47-newTemplate #call-to-action-and-form .relative.container .grid {
        padding-bottom: 75px;
    }

    html body.cro-t-47 .cro-t-47-stopDebt-mob {
        position: relative;
        margin-top: -50px;
    }
}

@media (min-width:1280px) and (max-width:1535px) {
    html body.cro-t-47 section#call-to-action-and-form .container .grid>div:nth-child(2) {
        padding: 0;
    }
}



@media (max-width:1279px) {
    html body.cro-t-47 .cro-t-47-stopDebt-content.stopDebt-content-img {
        left: -20px;
    }
}

html body.cro-t-47 section#call-to-action-and-form {
    min-height: 705px;
    padding-top: 47px;
}

html body.cro-t-47 section#call-to-action-and-form .container .grid>div:nth-child(1) {
    display: none;
}

html body.cro-t-47 section#call-to-action-and-form .container .grid>div:nth-child(2) {
    padding-top: 0;
}

html body.cro-twoPartForm-t-1.cro-t-47-newTemplate h4.cro-jm-39-newHeader-content {
    color: #263648;
}

html body.cro-t-47 .cro-jm-39-loader-content h3.cro-jm-39-loader-text {
    color: #263648;
}

html body.cro-twoPartForm-t-1.cro-t-47-newTemplate .notice.cro-step2 a {
    color: #263648;
}

html body.cro-t-47 .form-field.notice.cro-step2 {
    color: #263648;
}

@media (min-width:1024px) and (max-width:1279px) {
    html body.cro-t-47 section#call-to-action-and-form .container .grid>div:nth-child(2).p-normal {
        padding: 0;

    }
}



/* ------Latest-Updated-Code-End---------- */

@media (max-width: 1023px) {
    html body.cro-twoPartForm-t-1.cro-t-47-newTemplate .cro-Id-check-btnNew {
        width: 100%;
        max-height: 45px;
        height: 100%;
        min-height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
    }

    html body.cro-twoPartForm-t-1.cro-t-47-newTemplate.cro-formHeader #call-to-action-and-form h4 {
        margin-top: 0px;
        margin-bottom: 24px;
    }

    body.cro-twoPartForm-t-1.cro-formHeader3 #call-to-action-and-form .btn.lg {
        width: 100%;
        max-width: 100%;
    }

    html body.cro-twoPartForm-t-1.cro-t-47-newTemplate .cro-jm-39-newHeader-inner {
        margin-top: 15px;
    }

    html body.cro-twoPartForm-t-1.cro-t-47-newTemplate h3.cro-jm-39-loader-text {
        max-width: 247px;
        text-align: center;
        margin-bottom: 43px;
    }

    html body.cro-twoPartForm-t-1.cro-t-47-newTemplate.cro-formHeader .cro-id-btnNew {
        margin-bottom: 23px;
    }

    html body.cro-twoPartForm-t-1.cro-t-47-newTemplate #call-to-action-and-form h2 {
        font-size: 24px;
        line-height: 29.05px;
        max-width: 327px;
    }

    html body.cro-twoPartForm-t-1.cro-t-47-newTemplate #call-to-action-and-form .relative.container .grid {
        flex-direction: column;
    }

    html body.cro-t-47 section#call-to-action-and-form .container .grid>div:nth-child(2) {
        padding: 57px 0px 27px 0px;
    }

    html body.cro-t-47 .grid .grid-column .body-text>p:last-of-type {
        display: none;
    }

    section#call-to-action-and-form.pb-normal {
        padding-bottom: 0rem;
    }

    html body.cro-twoPartForm-t-1.cro-t-47-newTemplate #call-to-action-and-form .relative.container .grid .grid-column:nth-child(3) {
        padding: 28px 18px;
    }

    html body.cro-twoPartForm-t-1.cro-formHeader .cro-id-btn {
        margin-bottom: 10px;
        margin-top: 0px;
    }

    html body.cro-twoPartForm-t-1.cro-t-47-newTemplate.cro-formHeader .cro-id-btnNew {
        margin-bottom: 0;
    }

    html body.cro-twoPartForm-t-1.cro-t-47-newTemplate #call-to-action-and-form .relative.container .grid {
        align-items: center;
    }

    html body.cro-twoPartForm-t-1.cro-t-47-newTemplate .cro-jm-39-loader {
        max-width: 300px;
        margin: 0 auto;
        min-width: 300px;
    }


}

@media (min-width: 1024px) and (max-width: 1279px) {
    html body.cro-twoPartForm-t-1.cro-t-47-newTemplate #call-to-action-and-form h1 {
        font-size: 38px;
    }

}


@media (min-width:1024px) {
    html body.cro-t-47 .container {
        width: 1024px;
    }
}

@media (min-width:1280px) {
    html body.cro-t-47 .container {
        width: 1280px;
    }
}


@media (min-width: 1536px) {
    html body.cro-t-47 section#landing-page-justmoney-logo-white-header-global-section .xl\:grid-cols-4 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (min-width: 1280px) and (max-width: 1535px) {
    html body.cro-t-47 .cro-t-47-stopDebt-content.stopDebt-content-text {
        width: 40%;
    }

    html body.cro-t-47 .cro-t-47-stopDebt-content.stopDebt-content-img {
        left: -20px;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    html body.cro-t-47 .cro-t-47-stopDebt-content.stopDebt-content-text {
        width: 48%;
    }

    html body.cro-t-47 .cro-t-47-stopDebt-content.stopDebt-content-img {
        left: -60px;
    }
}

html body.cro-t-47 section#call-to-action-and-form .p-thinner .form-field.cro-step2.mb-3>input {
    border: 1px solid #C2D3D8;
}

html body.cro-t-47 section#call-to-action-and-form .p-thinner .form-field.cro-step2.mb-3>input.shadow {
    box-shadow: none;
}

html body.cro-twoPartForm-t-1.cro-formHeader .cro-id-btn {
    margin-top: 0px;
}

html body.cro-review-test-1.cro-t-58-widget.cro-t-47-newTemplate .top-header {
    font-size: 0;
    line-height: 0;
}

html body.cro-review-test-1.cro-t-58-widget.cro-t-47-newTemplate .top-header::after {
    content: 'What our clients say';
    color: #333;
    font-family: "Inter", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 33.89px;
}

@media (max-width:767px) {
    html body.cro-review-test-1.cro-t-58-widget.cro-t-47-newTemplate .top-header::after {
        font-size: 26px;
        line-height: 31.37px;
    }
}

/* section#call-to-action-and-form .p-thinner .form-field.mb-3.cro-step2 #first_name section#call-to-action-and-form .p-thinner .form-field.mb-3.cro-step2 #last_name section#call-to-action-and-form .p-thinner .form-field.mb-3.cro-step2 #email section#call-to-action-and-form .p-thinner .form-field.mb-3.cro-step2 #phone */


html body.cro-t-47.cro-formHeader3 .cro-t-47-from-error-mes span {
    color: #F90000;
    font-family: 'Inter', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 5px;
}

html body.cro-t-47 .cro-t-47-from-wrapper-button {
    display: none;
}

html body.cro-t-47.cro-formHeader3 .cro-t-47-from-wrapper-button {
    display: block;
}

html body.cro-twoPartForm-t-1.cro-t-47-newTemplate.cro-formHeader3 .btn.primary[type="submit"] {
    display: none;
}

html body.cro-t-47.cro-formHeader3 .cro-t-47-from-error-mes span {
    display: none;
}

html body.cro-t-47.cro-formHeader3 .form-field.error .cro-t-47-from-error-mes span {
    display: block;
}

/* html body.cro-twoPartForm-t-1.cro-t-47-newTemplate .cro-t-47-from-wrapper-button .cro-Id-check-btnNew {
    max-height: 54px;
} */
html body.cro-t-47 .cro-t-47-from-wrapper-button .cro-t-47-check-btn-main {
    font-family: "Inter", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.78px;
    text-align: center;
    --tw-text-opacity: 1;
    --tw-bg-opacity: 1;
    background-color: rgb(229 154 44 / var(--tw-bg-opacity));
    border-radius: 9999px;
    text-transform: none;
    letter-spacing: 0;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: .3s;
    cursor: pointer;
    max-height: 54px;
    height: 100%;
    max-width: 100%;
    width: 100%;
    padding: 16px 38px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

html body.cro-t-47 .cro-t-47-from-wrapper-button .cro-t-47-check-btn-main:hover {
    --tw-scale-x: 1.03;
    --tw-scale-y: 1.03;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

html body.cro-t-47.cro-formHeader3 form .form-field {
    margin-bottom: 24px;
}