html body.cro-t-16.cro-review-test-1.cro-t-58-widget section.new-sec {
    background-color: #fff;
    padding-top: 0;
    padding-bottom: 60px;
}

html body.cro-t-16 .cro-t-16-Key-features {
    background-color: #FAEAD5;
}

html body.cro-t-16 #second-call-to-action {
    background-color: #FAEBD5;
}

html body.cro-t-16 .cro-t-16-Key-features-inner {
    padding: 60px 0;
}

html body.cro-t-16 .cro-t-16-Key-features-top-header {
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    color: #000000;

}

html body.cro-t-16 .cro-t-16-Key-features-inner-main-parent {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

html body.cro-t-16 .cro-t-16-Key-features-part {
    width: 25%;
}

html body.cro-t-16 .cro-t-16-Key-features-part-heading {
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 24px;
    line-height: normal;
    font-weight: bold;
    text-align: left;
    color: #000000;

}

html body.cro-t-16 .cro-t-16-Key-features-part-heading {
    height: 100%;
    min-height: 59px;
}

html body.cro-t-16 .cro-t-16-Key-features-part-subheading {
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 20px;
    line-height: normal;
    font-weight: normal;
    text-align: left;
    color: #000000;
    margin-top: 46px;
    margin-bottom: 36px;
}

html body.cro-t-16 .cro-t-16-Key-features-part-img {
    width: 100%;
    height: 100%;
    max-width: 84px;
    max-height: 76px;
    margin-top: 36px;
    margin-bottom: 49px;
}

html body.cro-t-16 .cro-t-16-Key-features-part-img img {
    width: 100%;
}

html body.cro-t-16 .cro-t-16-Key-features-part.debt-balance {
    margin: 0 30px;
}

html body.cro-t-16 .cro-t-16-Key-features-part.financial-product {
    margin-right: 30px;
}

/* ----Review-Card------ */
html body.cro-t-16.cro-review-test-1.cro-t-58-widget .card-header {
    display: none;
}

html body.cro-t-16.cro-review-test-1.cro-t-58-widget .back-part {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border: 1px solid #E5E5E5;
}

html body.cro-t-16.cro-review-test-1.cro-t-58-widget img.card-img-1 {
    order: 2;
    margin-bottom: 24px;
    margin-top: 19px;
}

html body.cro-t-16.cro-review-test-1.cro-t-58-widget p.under-text {
    order: 3;
}

html body.cro-t-16.cro-review-test-1 .first-card p.clint-name {
    order: 1;
    line-height: 0;
    font-size: 0;
}

html body.cro-t-16.cro-review-test-1 .first-card p.clint-name::before {
    content: "Lindokuhle";
    font-size: 20px;
    color: #D9A937;
    font-weight: bold;
    line-height: normal;
}

html body.cro-t-16.cro-review-test-1 .sec-card p.clint-name {
    font-size: 0;
    line-height: 0;
}

html body.cro-t-16.cro-review-test-1 .sec-card p.clint-name::before {
    content: "Rollen";
    font-size: 20px;
    color: #D9A937;
    font-weight: bold;
    line-height: normal;
}

html body.cro-t-16.cro-review-test-1 .third-card p.clint-name::before {
    content: "Thembalethu M";
    font-size: 20px;
    color: #D9A937;
    font-weight: bold;
    line-height: normal;
}

html body.cro-t-16.cro-review-test-1 .third-card p.clint-name {
    font-size: 0;
    line-height: 0;
}

html body.cro-t-16.cro-review-test-1 .four-card p.clint-name::before {
    content: "Kamohelo";
    font-size: 20px;
    color: #D9A937;
    font-weight: bold;
    line-height: normal;
}

html body.cro-t-16.cro-review-test-1 .four-card p.clint-name {
    font-size: 0;
    line-height: 0;
}

/* ------Faq---Section---code----- */

html body.cro-t-16 .cro-t-16-Faq-new-part-wrapper {
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}

html body.cro-t-16 .cro-t-16-faq-item {
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

html body.cro-t-16 .faq-item:hover {
    background-color: #f0f0f0;
}

html body.cro-t-16 p.cro-t-16-header-part-text {
    margin: 0;
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    padding-top: 60px;
    padding-bottom: 35px;
    display: block;
}

html body.cro-t-16 .cro-t-16-question {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #F2F2F2;
    color: rgba(0, 0, 0, 1);
    padding: 22px 18px 22px 16px;
    margin: 0;
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0em;
    text-align: left;
    max-height: 58px;
    /* border-bottom: 1px solid #c8c8c8; */
    flex-direction: row-reverse;
    cursor: pointer;
}

html body.cro-t-16 .cro-t-16-answer-text {
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    margin: 0 !important;
}

html body.cro-t-16 .cro-t-16-answer-text span {
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    margin: 0 !important;
    padding-top: 15px;
    display: block;
}

html body.cro-t-16 .cro-t-16-answer {
    background: #f2f2f2;
    /* border-top: 1px solid rgba(200, 200, 200, 1); */
    padding: 0;
    /* display: none; */
    display: block;
    overflow: hidden;
}

html body.cro-t-16 .cro-t-16-answer p {
    padding: 23px 20px 25px 20px;
}



@media (max-width: 767px) {
    html body.cro-t-16 .cro-t-16-question>span:not(.toggle-symbol) {
        width: 100%;
        max-width: 320px;
    }

    html body.cro-t-16 p.cro-t-16-header-part-text {
        padding-bottom: 41px;
    }

    html body.cro-t-16 .cro-t-16-answer p {
        padding: 23px 22.5px 28px 19.5px;
    }

    html body.cro-t-16 .cro-t-16-question {
        padding: 20px 18px 20px 14px;
    }

}

html body.cro-t-16.croAdmarula .py-5 {
    border-top: none;
    border-bottom: none;
}

html body.cro-t-16.croAdmarula .py-5 .pr-3 p {
    margin: 0;
}

html body.cro-t-16 .cro-t-16-faq-item:not(.clicked) .cro-t-16-answer {
    transition: max-height 0.5s linear;
    max-height: 0;
}

html body.cro-t-16 .cro-t-16-faq-item.clicked .cro-t-16-answer {
    transition: max-height 0.5s linear;
}


html body.cro-t-16 .cro-t-16-faq-item:not(.clicked) span.toggle-symbol {
    width: 22px;
    height: 24px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet"><g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" fill="%23000000" stroke="none"><path d="M2495 3615 c-22 -8 -42 -15 -45 -15 -3 0 -353 -348 -778 -772 -471 -471 -782 -789 -794 -813 -67 -128 22 -291 166 -303 107 -9 71 -40 824 711 l692 692 693 -692 c752 -751 716 -720 823 -711 107 9 187 98 187 207 0 33 -7 70 -17 91 -24 47 -1540 1566 -1588 1591 -52 27 -115 32 -163 14z"/></g></svg>');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(180deg);
    margin-right: 12px;

}

html body.cro-t-16 .cro-t-16-faq-item.clicked span.toggle-symbol {
    width: 22px;
    height: 24px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet"><g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" fill="%23000000" stroke="none"><path d="M2495 3615 c-22 -8 -42 -15 -45 -15 -3 0 -353 -348 -778 -772 -471 -471 -782 -789 -794 -813 -67 -128 22 -291 166 -303 107 -9 71 -40 824 711 l692 692 693 -692 c752 -751 716 -720 823 -711 107 9 187 98 187 207 0 33 -7 70 -17 91 -24 47 -1540 1566 -1588 1591 -52 27 -115 32 -163 14z"/></g></svg>');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 12px;
}

@media (max-width: 1023px) {
    html body.cro-t-16 .cro-t-16-question {
        align-items: flex-start;
        max-height: 100%;
    }

    html body.cro-t-16 p.cro-t-16-header-part-text {
        font-size: 24px;
        line-height: normal;
    }
}

@media (max-width: 415px) {
    html body.cro-t-16 .cro-t-16-question>span:not(.toggle-symbol) {
        max-width: 290px;
    }
}

html body.cro-t-16 .cro-t-16-faq-item-inner {
    padding-bottom: 50px;
}

/* ------Faq---Section---code----- */

@media (max-width:1280px) {
    .cro-t-16-Key-features-part-heading {
        min-height: 87px;
    }
}

@media (max-width:1023px) {
    .cro-t-16-Key-features-top-header {
        font-size: 24px;
        line-height: normal;
    }

    html body.cro-t-16 .cro-t-16-Key-features-part {
        width: 100%;
    }

    html body.cro-t-16 .cro-t-16-Key-features-part.financial-product {
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 39px;
    }

    html body.cro-t-16 .cro-t-16-Key-features-inner-main-parent {
        flex-direction: column;
    }

    html body.cro-t-16 .cro-t-16-Key-features-part {
        width: 100%;
    }

    html body.cro-t-16 .cro-t-16-Key-features-part-heading {
        min-height: 59px;
    }

    html body.cro-t-16 .cro-t-16-Key-features-part.debt-balance {
        margin: 39px 0;
    }

    html body.cro-t-16 .cro-t-16-Key-features-part.financial-product {
        margin-right: 0px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    html body.cro-t-16 .cro-t-16-Key-features-part.debt-balance {
        margin: 39px 0px;
    }

    html body.cro-t-16 .cro-t-16-Key-features-part.credit-score {
        padding-top: 10px;
    }

    html body.cro-t-16 .cards-part .first-card,
    html body.cro-t-16 .cards-part .sec-card,
    html body.cro-t-16 .cards-part .third-card,
    html body.cro-t-16 .cards-part .four-card {
        max-width: 100%;
        height: 100%;
        min-height: fit-content;
    }

    html body.cro-t-16.cro-review-test-1.cro-t-58-widget .back-part {
        height: 100%;
        max-height: fit-content;
    }

    html body.cro-t-16.cro-review-test-1.cro-t-58-widget section.new-sec {
        padding-top: 60px;
    }

    html body.cro-t-16 .cro-t-16-Key-features-top-header {
        font-size: 24px;
        line-height: 32px;
    }
}

@media (max-width:767px) {

    html body.cro-t-16.cro-review-test-1 .back-part {
        height: 100%;
        min-height: fit-content;
    }

}