html body.cro-t-7 .pt-10.pb-0 h1 strong:after {
    content: "Is a poor credit score holding you back? Get help today.";
    font-family: "Roboto", Arial, sans-serif;
    font-size: 37px;
    font-weight: 700;
    line-height: 43px;
    text-align: left;
    color: #414141;
}


html body.cro-t-7 .pt-10.pb-0 h1 strong {
    font-size: 0;
}

html body.cro-t-7 .cro-t-7-subheading-text {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 32.81px;
    color: #414141;
    margin-bottom: 9px;
    width: 100%;
    max-width: 550px;
}

html body.cro-t-7 .pt-10.pb-0 h1 {
    font-size: 0px;
    margin-bottom: 8px;
    text-align: left;
}

/* html body.cro-t-7 .cro-Banner-left-parent>p:not(.lead)::after {
    content: 'Do you have a poor credit score? Are you struggling to get approved for loans or credit cards? A poor credit score can make life tough, but it doesn’t have to hold you back any longer. At Debt.co.za, we specialise in helping people with a less-than-perfect credit profile to get the financial support they deserve.';

    font-family: "Roboto", Arial, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 23.8px;
    text-align: left;
    color: #414141;
} */

html body.cro-t-7 .cro-Banner-left-parent>p:not(.lead) {
    font-size: 17px;
    margin-bottom: 35px;
    width: 100%;
    max-width: 550px;
    color: #414141;
}

html body.cro-t-7 .cro-Banner-left-parent p.lead::after {
    content: 'Here’s how it works:';
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 22.4px;
    text-align: left;
}

html body.cro-t-7 .cro-Banner-left-parent p.lead {
    font-size: 0;
    margin-bottom: 28px;
}

html body.cro-t-7 section.bg-gray {
    display: none;
}

/* -----Update--- */
html body.cro-t-7 p.cro-recipe-5-solve-title-part-text {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 37px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(65, 65, 65, 1);
    margin: 0;
    padding-top: 53px;
    padding-bottom: 46px;
}

html body.cro-t-7 .cro-recipe-5-solve-new-part-wrapper {
    background-color: #f2f2f2;
}

html body.cro-t-7 .cro-recipe-5-icon-text-all-parts {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-bottom: 60px;
}

html body.cro-t-7 .cro-container-all {
    display: flex;
    flex-direction: column;
    align-items: center;
}

html body.cro-t-7 img.cro-recipe-5-icon-first {
    width: 73px;
    margin-bottom: 15px;
}

html body.cro-t-7 p.cro-recipe-5-icon-text-header {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(14, 112, 171, 1);
    margin: 0;
    padding-bottom: 10px;
}

html body.cro-t-7 p.cro-recipe-5-icon-sub-header-text {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(0, 0, 0, 1);
    max-width: 220px;
}

html body.cro-t-7 img.cro-recipe-5-icon-second {
    width: 79px;
    padding-bottom: 15px;
}

html body.cro-t-7 img.cro-recipe-5-icon-third {
    width: 63.21px;
    padding-bottom: 15px;
    padding-top: 5px;
}

html body.cro-t-7 .cro-recipe-5-icon-text-first-part p.cro-recipe-5-icon-text-header {
    padding-bottom: 20px;
}

html body.cro-t-7 .pt-10.pb-0 .border h2.main-form-header::after {
    content: 'Start now!';
    font-family: "Roboto", Arial, sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 26.63px;
    text-align: left;
    color: #414141;

}

html body.cro-t-7 .pt-10.pb-0 .border h2.main-form-header {
    font-size: 0;
}

html body.cro-t-7 p.cro-banner-left-text {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 22.4px;
    text-align: left;
    color: #000000;
    margin-bottom: 30px;

}

/* 
.decorated li:nth-child(1) span:not(.bullet) {
    font-size: 0;
}

.decorated li:nth-child(1) span:not(.bullet)::after {
    content: 'Complete the form';
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0%;
}

.decorated li:nth-child(2) span:not(.bullet) {
    font-size: 0;
}

.decorated li:nth-child(2) span:not(.bullet)::after {
    content: 'Receive a call-back from one of our expert consultants';
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0%;
}

.decorated li:nth-child(3) span:not(.bullet) {
    font-size: 0;
}

.decorated li:nth-child(3) span:not(.bullet)::after {
    content: 'Get a personalised plan to help you improve your credit score';
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0%;
} */


@media (max-width:1023px) {
    html body.cro-t-7 p.cro-recipe-5-solve-title-part-text {
        font-size: 28px;
        font-weight: 400;
        line-height: 33.89px;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 70px;

    }

    html body.cro-t-7 .cro-recipe-5-icon-text-all-parts {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    html body.cro-t-7 img.cro-recipe-5-icon-second {
        padding-top: 50px;
    }

    html body.cro-t-7 img.cro-recipe-5-icon-third {
        padding-top: 50px;
    }

    html body.cro-t-7 .cro-recipe-5-solve-title-part {
        max-width: 300px;
        margin: 0 auto;
    }

    html body.cro-t-7 .pt-10.pb-0 h1 strong:after {
        font-size: 28px;
        font-weight: 700;
        line-height: 33.89px;
        text-align: left;
    }

    html body.cro-t-7 .cro-t-7-subheading-text {
        font-size: 22px;
        font-weight: 400;
        line-height: 26.63px;
        text-align: left;
        margin-bottom: 25px;
        max-width: 100%;
    }

    html body.cro-t-7 .cro-recipe-5-icon-text-first-part p.cro-recipe-5-icon-text-header {
        padding-bottom: 10px;
    }

    html body.cro-t-7 .pt-10.pb-0 h1 {
        margin-bottom: 10px;
    }

    html body.cro-t-7 p.cro-banner-left-text {
        margin-bottom: 28px;
    }

    html body.cro-t-7 .pt-10.pb-0 .border h2.main-form-header::after {
        font-size: 20px;
        font-weight: 700;
        line-height: 24.2px;
        text-align: left;
    }

    html body.cro-t-7 .cro-Banner-left-parent>p:not(.lead) {
        max-width: 100%;
    }
}


/* ------------------- */
html body.cro-t-7.cro-t-dcz-153 .pt-10.pb-0 h1 strong:after {
    content: "Is a poor credit score holding you back? Get help today.";
    font-family: "Roboto", Arial, sans-serif;
    font-size: 37px;
    font-weight: 700;
    line-height: 43px;
    text-align: left;
    color: #414141;
}


html body.cro-t-7.cro-t-dcz-153 .pt-10.pb-0 h1 strong {
    font-size: 0;
}

html body.cro-t-7.cro-t-dcz-153 .cro-t-7-subheading-text {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 32.81px;
    color: #414141;
    margin-bottom: 9px;
    width: 100%;
    max-width: 550px;
}

html body.cro-t-7.cro-t-dcz-153 .pt-10.pb-0 h1 {
    font-size: 0px;
    margin-bottom: 8px;
}

html body.cro-t-7.cro-t-dcz-153 .cro-Banner-left-parent>p:not(.lead) {
    font-size: 17px;
    margin-bottom: 35px;
    width: 100%;
    max-width: 550px;
    color: #414141;
}

html body.cro-t-7.cro-t-dcz-153 .cro-Banner-left-parent p.lead::after {
    content: 'Here’s how it works:';
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 22.4px;
    text-align: left;
}

html body.cro-t-7.cro-t-dcz-153 .cro-Banner-left-parent p.lead {
    font-size: 0;
    margin-bottom: 28px;
}

html body.cro-t-7.cro-t-dcz-153 section.bg-gray {
    display: none;
}

/* -----Update--- */
html body.cro-t-7.cro-t-dcz-153 p.cro-recipe-5-solve-title-part-text {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 37px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(65, 65, 65, 1);
    margin: 0;
    padding-top: 53px;
    padding-bottom: 46px;
}

html body.cro-t-7.cro-t-dcz-153 .cro-recipe-5-solve-new-part-wrapper {
    background-color: #f2f2f2;
}

html body.cro-t-7.cro-t-dcz-153 .cro-recipe-5-icon-text-all-parts {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-bottom: 60px;
}

html body.cro-t-7.cro-t-dcz-153 .cro-container-all {
    display: flex;
    flex-direction: column;
    align-items: center;
}

html body.cro-t-7.cro-t-dcz-153 img.cro-recipe-5-icon-first {
    width: 73px;
    margin-bottom: 15px;
}

html body.cro-t-7.cro-t-dcz-153 p.cro-recipe-5-icon-text-header {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(14, 112, 171, 1);
    margin: 0;
    padding-bottom: 10px;
}

html body.cro-t-7.cro-t-dcz-153 p.cro-recipe-5-icon-sub-header-text {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(0, 0, 0, 1);
    max-width: 220px;
}

html body.cro-t-7.cro-t-dcz-153 img.cro-recipe-5-icon-second {
    width: 79px;
    padding-bottom: 15px;
}

html body.cro-t-7.cro-t-dcz-153 img.cro-recipe-5-icon-third {
    width: 63.21px;
    padding-bottom: 15px;
    padding-top: 5px;
}

html body.cro-t-7.cro-t-dcz-153 .cro-recipe-5-icon-text-first-part p.cro-recipe-5-icon-text-header {
    padding-bottom: 20px;
}

html body.cro-t-7.cro-t-dcz-153 .pt-10.pb-0 .border h2.main-form-header::after {
    content: 'Start now!';
    font-family: "Roboto", Arial, sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 26.63px;
    text-align: left;
    color: #414141;

}

html body.cro-t-7.cro-t-dcz-153 .pt-10.pb-0 .border h2.main-form-header {
    font-size: 0;
    text-align: left;
    background: #CCC;
    padding-left: 1.25rem;
}

html body.cro-t-7 .pt-10.pb-0 .border h2.main-form-header {
    background: #CCC;
}

html body.cro-t-7 .pt-10.pb-0>div>.border {
    border-radius: 6px 6px 0px 0px;
    border: 1px solid #CCC;
}

html body.cro-t-7.cro-t-dcz-153 p.cro-banner-left-text {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 22.4px;
    text-align: left;
    color: #000000;
    margin-bottom: 30px;

}

/* 
.decorated li:nth-child(1) span:not(.bullet) {
    font-size: 0;
}

.decorated li:nth-child(1) span:not(.bullet)::after {
    content: 'Complete the form';
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0%;
}

.decorated li:nth-child(2) span:not(.bullet) {
    font-size: 0;
}

.decorated li:nth-child(2) span:not(.bullet)::after {
    content: 'Receive a call-back from one of our expert consultants';
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0%;
}

.decorated li:nth-child(3) span:not(.bullet) {
    font-size: 0;
}

.decorated li:nth-child(3) span:not(.bullet)::after {
    content: 'Get a personalised plan to help you improve your credit score';
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0%;
} */

.cro_mobile_bullets {
    display: none;
}

@media (max-width:1023px) {
   
    .cro_mobile_bullets {
        display: block;
    }

    html body.cro-t-7 .cro-Banner-left-parent>p,
    html body.cro-t-7 .cro-Banner-left-parent>.cro-t-7-left-part,
    html body.cro-t-7 .cro-Banner-left-parent>.decorated {
        display: none !important;
    }

    .cro_mobile_bullets p {
        color: #414141;
        font-family: inherit;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        /* 23.8px */
        margin-bottom: 36px;
    }

    .cro_mobile_bullets {
        padding-left: 1rem;
        padding-right: 1rem;
        margin-top: 46px;
    }

    .container>h2[class*="text-center"] {
        text-align: left;
    }

    html body.cro-t-7.cro-t-dcz-153 p.cro-recipe-5-solve-title-part-text {
        font-size: 28px;
        font-weight: 400;
        line-height: 33.89px;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 70px;

    }

    html body.cro-t-7.cro-t-dcz-153 .cro-recipe-5-icon-text-all-parts {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    html body.cro-t-7.cro-t-dcz-153 img.cro-recipe-5-icon-second {
        padding-top: 50px;
    }

    html body.cro-t-7.cro-t-dcz-153 img.cro-recipe-5-icon-third {
        padding-top: 50px;
    }

    html body.cro-t-7.cro-t-dcz-153 .cro-recipe-5-solve-title-part {
        max-width: 300px;
        margin: 0 auto;
    }

    html body.cro-t-7.cro-t-dcz-153 .pt-10.pb-0 h1 strong:after {
        font-size: 28px;
        font-weight: 700;
        line-height: 33.89px;
        text-align: left;
    }

    html body.cro-t-7.cro-t-dcz-153 .cro-t-7-subheading-text {
        font-size: 22px;
        font-weight: 400;
        line-height: 26.63px;
        text-align: left;
        margin-bottom: 25px;
        max-width: 100%;
    }

    html body.cro-t-7.cro-t-dcz-153 .cro-recipe-5-icon-text-first-part p.cro-recipe-5-icon-text-header {
        padding-bottom: 10px;
    }

    html body.cro-t-7.cro-t-dcz-153 .pt-10.pb-0 h1 {
        margin-bottom: 10px;
    }

    html body.cro-t-7.cro-t-dcz-153 p.cro-banner-left-text {
        margin-bottom: 28px;
    }

    html body.cro-t-7.cro-t-dcz-153 .pt-10.pb-0 .border h2.main-form-header::after {
        font-size: 20px;
        font-weight: 700;
        line-height: 24.2px;
        text-align: left;
    }

    html body.cro-t-7.cro-t-dcz-153 .cro-Banner-left-parent>p:not(.lead) {
        max-width: 100%;
    }
}