/* Review */
html body.recipe-t-review-1.cro-CreditSav-t-1 section.new-sec {
    /* background-color: #FAEBD5; */
    padding-top: 10px;
    padding-bottom: 50px;
    background-color: #D3D3D3;
}

html body.recipe-t-review-1.cro-CreditSav-t-1 h2.top-header {
    font-size: 24px;
    font-weight: 700;
    line-height: 28.13px;
    letter-spacing: 0em;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #333333;
}

html body.recipe-t-review-1.cro-CreditSav-t-1 .sec-part {
    text-align: center;
    padding-bottom: 35px;
}

html body.recipe-t-review-1.cro-CreditSav-t-1 .btn-sec-part {
    display: flex;
    align-items: center;
    /* padding: 1px 0px; */
}

html body.recipe-t-review-1.cro-CreditSav-t-1 .sec-header-part {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

html body.recipe-t-review-1.cro-CreditSav-t-1 p.sec-frst-text {
    margin-right: 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #22222C;
}

html body.recipe-t-review-1.cro-CreditSav-t-1 img.top-icon {
    width: 100px;
    height: 20px;
    max-width: 100%;
    max-height: 100%;
}

html body.recipe-t-review-1.cro-CreditSav-t-1 p.sec-sec-text {
    margin-left: 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #22222C;
}

html body.recipe-t-review-1.cro-CreditSav-t-1 p.sec-sec-text strong {
    font-weight: 700;
}

html body.recipe-t-review-1.cro-CreditSav-t-1 .cards-part {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

html body.recipe-t-review-1.cro-CreditSav-t-1 .back-part {
    background-color: #fff;
    border: none;
    padding: 36px 24px;
    height: 400px;
    /* min-height: 500px; */
    display: flex !important;
    flex-direction: column;
    box-shadow: 0px -1px 47px 2px #00000040;
}

html body.recipe-t-review-1.cro-CreditSav-t-1 h3.card-header {
    background-color: transparent;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    color: #22222C;
    border-bottom: none;
    padding: 0;
    margin-bottom: 12px;
    min-height: 38px;
}

html body.recipe-t-review-1.cro-CreditSav-t-1 .cro-review-card {
    max-width: 220px !important;
    width: 100%;
}

html body.recipe-t-review-1.cro-CreditSav-t-1 p.clint-name {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    /* color: #D9A937; */
    color: #333333;
}

html body.recipe-t-review-1.cro-CreditSav-t-1 img.card-img-1 {
    width: 100%;
    max-width: 90px;
}

html body.recipe-t-review-1.cro-CreditSav-t-1 p.under-text {
    width: 100%;
    max-width: 100%;
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    letter-spacing: 0em;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    color: #333333;
    flex: 1;
    font-style: italic;
}

html body.recipe-t-review-1.cro-CreditSav-t-1 .first-card {
    width: 100%;
    max-width: 178px;
}
html body.recipe-t-review-1.cro-CreditSav-t-1 .sec-card {
    max-width: 178px;
    margin: 0px 20px;
}
html body.recipe-t-review-1.cro-CreditSav-t-1 .third-card {
    max-width: 178px;
    margin-right: 20px;
}
html body.recipe-t-review-1.cro-CreditSav-t-1 .four-card {
    max-width: 178px;
}

html body.recipe-t-review-1.cro-CreditSav-t-1 .register-hld.register #id-number-form .form-control {
    background-color: #FFFFFF;
    border: 1px solid #C2D3D8;
    font-size: 16px;
    line-height: 19.36px;
    color: #868686;
    min-height: 45px;
    padding: 13px 8px;
}

html body.recipe-t-review-1.cro-CreditSav-t-1 h3.card-header{
    order: 2;
    display: none;
}

html body.recipe-t-review-1.cro-CreditSav-t-1 p.under-text{
    order: 3;
    flex: none;
    margin: 11px 0;
}

html body.recipe-t-review-1.cro-CreditSav-t-1 img.card-img-1{
    order: 1;
}

html body.recipe-t-review-1.cro-CreditSav-t-1 p.clint-name{
    order: 4;
    margin: 0;
}

html body.recipe-t-review-1.cro-CreditSav-t-1 .sec-part{
    display: none;
}

html body.recipe-t-review-1.cro-CreditSav-t-1 h2.top-header{
    margin-top: 70px;
    margin-bottom: 85px;
}

html body.recipe-t-review-1.cro-CreditSav-t-1 section.new-sec{
    padding-bottom: 90px;
}


@media (max-width: 767px) {
    html body.recipe-t-review-1.cro-CreditSav-t-1 h2.top-header{
        margin-top: 70px;
        margin-bottom: 22px;
        font-size: 24px;
        line-height: 28.13px;
    }

    html body.recipe-t-review-1.cro-CreditSav-t-1 .sec-part{
        padding-bottom: 0;
    }

    html body.recipe-t-review-1.cro-CreditSav-t-1 .sec-header-part{
        align-items: center;
        flex-direction: column;
    }

    html body.recipe-t-review-1.cro-CreditSav-t-1 p.sec-frst-text{
        margin: 0;
    }

    html body.recipe-t-review-1.cro-CreditSav-t-1 img.top-icon{
        margin: 10px 0;
    }

    html body.recipe-t-review-1.cro-CreditSav-t-1 .back-part{
        height: 100%;
        min-height: auto;
    }

    html body.recipe-t-review-1.cro-CreditSav-t-1 .cro-review-card{
        max-width: 300px !important;
        margin: 20px auto;
    }
}

@media (max-width: 469px) {
    html body.recipe-t-review-1.cro-CreditSav-t-1 .sec-card{
        margin: 20px auto 0;
    }
}

@media (max-width: 345px) {
    html body.recipe-t-review-1.cro-CreditSav-t-1 h2.top-header{
        margin-top: 70px;
        margin-bottom: 22px;
        font-size: 22px;
        line-height: 28.13px;
    }
}

@media (max-width: 509px) {
    /* html body.recipe-t-review-1.cro-CreditSav-t-1 .third-card{
        margin: 20px 20px 0;
    } */
    html body.recipe-t-review-1.cro-CreditSav-t-1 .four-card{
        margin: 20px auto 0;
    }
    html body.recipe-t-review-1.cro-CreditSav-t-1 .first-card{
        margin-bottom: 20px;
    }
}

@media (max-width: 1199px) {
    html body.recipe-t-review-1.cro-CreditSav-t-1 .four-card{
        margin: 20px;
        margin-left: 0;
    }
}

@media (max-width: 991px) {
    html body.recipe-t-review-1.cro-CreditSav-t-1 .third-card{
        margin-top: 20px;
    }
}

/* Review */


/* Our-Score */
html body.cro-CreditSav-t-1 .cro-ourScore-inner {
    position: relative;
}

html body.cro-CreditSav-t-1 .cro-ourScore-details {
    background-color: #F1F1F1;
    padding: 40px 47px 20px 0;
}

html body.cro-CreditSav-t-1 p.cro-ourScore-para {
    max-width: 208px;
    font-family: 'Roboto', sans-serif;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: left;
    margin: 0;
    margin-bottom: 28px;
}

html body.cro-CreditSav-t-1 .cro-ourScore-details-img {
    max-width: 201px;
}

html body.cro-CreditSav-t-1 img.cro-ourScore-details-image {
    width: 100%;
}

html body.cro-CreditSav-t-1 h2.cro-ourScore-title {
    max-width: 208px;
    font-family: 'Roboto', sans-serif;
    color: #333333;
    font-size: 26px;
    font-weight: 700;
    line-height: 30.47px;
    text-align: left;
    margin: 0;
    margin-bottom: 28px;
}

html body.cro-CreditSav-t-1 .cro-ourScore-details-inner.relative.container {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
}

html body.cro-CreditSav-t-1 .cro-ourScore-details-text {
    margin-right: 16px;
}

html body.cro-CreditSav-t-1 img.cro-ourScore-image {
    background-size: 500px;
    background-position: 220px top;
    position: absolute;
    bottom: 0;
    max-width: 479px;
    object-fit: cover;
    width: 100%;
    height: 700px;
}

html body.cro-CreditSav-t-1 .registerholder .d-flex .px-0{
    display: none;
}

html body.cro-CreditSav-t-1 section.register-hld.register .registerholder h1.topcaption,
html body.cro-CreditSav-t-1 section.register-hld.register .registerholder h3.rgstertext{
    display: none;
}

html body.cro-CreditSav-t-1 .cro-needHelp span.border-orange.p-2.rounded-circle {
    border: 1px solid #e59a2c;
}

html body.cro-CreditSav-t-1 .cro-needHelp #callme.callus:hover {
    color: #e59a2c;
}

html body.cro-CreditSav-t-1 section.register-hld.register {
    background: #FFFFFF;
    margin-bottom: 65px;
}

html body.cro-CreditSav-t-1 .registerholder>.container>.d-flex{
    display: inline-block !important;
    width: 100%;
    max-width: 100%;
    /* justify-content: normal !important; */
}

html body.cro-CreditSav-t-1 .registerholder>.container>.d-flex .pb-md-0{
    width: 100%;
}

html body.cro-CreditSav-t-1 .registerholder>.container>.d-flex .frmhold{
    position: relative;
}

html body.cro-CreditSav-t-1 .registerholder>.container>.d-flex .frmhold .cro-creditScore{
    width: 60%;
}

html body.cro-CreditSav-t-1 .registerholder>.container>.d-flex .frmhold #id-number-form{
    width: 100%;
    max-width: 399px;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(241, 241, 241, 1);
    border: 10px solid rgb(255 255 255);
    border-radius: 10px;
    box-shadow: 0px 40px 46px 1px rgba(38, 54, 72, 0.37);
    padding: 28px 22px 33px;
}

html body.cro-CreditSav-t-1 .cro-creditScore-point-img {
    max-width: 18px;
    margin-right: 15px;
}

html body.cro-CreditSav-t-1 img.cro-point-img {
    width: 100%;
}

html body.cro-CreditSav-t-1 .cro-creditScore-point {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

html body.cro-CreditSav-t-1 p.cro-creditScore-textPara {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #333333;
    font-size: 18px;
    font-weight: 400;
    line-height: 25.2px;
    text-align: left;
}

html body.cro-CreditSav-t-1 .cro-creditScore-top {
    max-width: 414px;
}

html body.cro-CreditSav-t-1 h2.cro-creditScore-text {
    font-family: 'Roboto', sans-serif;
    color: #333333;
    font-size: 22px;
    font-weight: 400;
    line-height: 25.78px;
    text-align: left;
}

html body.cro-CreditSav-t-1 h2.cro-creditScore-text span {
    font-weight: 700;
}

html body.cro-CreditSav-t-1 .registerholder #btnRegisterRegisterPage{
    width: 100%;
    height: 54px;
    font-family: "Roboto", sans-serif;
    background: #e59a2c;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.78px;
    text-align: center;
}

@media (min-width: 1024px) {
    html body.cro-CreditSav-t-1 section.register-hld.register{
        min-height: 760px !important;
    }
}

@media (max-width: 1023px) {
    html body.cro-CreditSav-t-1 img.cro-ourScore-image{
        position: relative;
        max-width: 291px;
        height: 411px;
    }

    html body.cro-CreditSav-t-1 .cro-ourScore-img {
        background-color: #FFFFFF;
    }

    html body.cro-CreditSav-t-1 .cro-ourScore-img-inner {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    html body.cro-CreditSav-t-1 .cro-ourScore-details-inner.relative.container{
        flex-direction: column;
        justify-content: center;
    }

    html body.cro-CreditSav-t-1 .cro-ourScore-details{
        padding: 68px 20px 29px;
    }

    html body.cro-CreditSav-t-1 h2.cro-ourScore-title{
        max-width: 335px;
        margin-bottom: 23px;
    }

    html body.cro-CreditSav-t-1 p.cro-ourScore-para{
        max-width: 335px;
    }

    html body.cro-CreditSav-t-1 .cro-ourScore-details-text{
        margin-right: 0;
    }
}

/* Our-Score */  


/* Log In */
html body.cro-CreditSav-t-1 .cro-logIn {
    margin-top: 28px;
}

html body.cro-CreditSav-t-1 .cro-logIn .ms-md-5{
    margin-left: 0 !important;
}

html body.cro-CreditSav-t-1 #cro-btn_LoginRedirect_Register-2:hover{
    color: #e59a2c;
}


/* Log In */

html body.cro-CreditSav-t-1 .cro-navbar-nav.custom-nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

html body.cro-CreditSav-t-1 .cro-navbar-nav.custom-nav span {
    font-family: 'Roboto', sans-serif;
    color: #e59a2c;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    text-align: left;
}

html body.cro-CreditSav-t-1 span.cro-navbar-login {
    color: #000000 !important;
    margin-right: 10px;
}


@media (max-width: 1023px) {
    html body.cro-CreditSav-t-1 .registerholder>.container>.d-flex{
        display: flex !important;
        flex-direction: column;
    }

    html body.cro-CreditSav-t-1 .registerholder>.container>.d-flex .frmhold #id-number-form{
        position: relative;
        float: none;
        margin-top: 32px;
        margin-bottom: 47px;
        /* margin-left: auto; */
        /* margin-right: auto; */
        order: 2;
        max-width: 100%;
        padding: 25px 15px 30px;
    }

    html body.cro-CreditSav-t-1 .registerholder>.container>.d-flex .frmhold .cro-creditScore{
        width: 100%;
        order: 1;
    }

    html body.cro-CreditSav-t-1 h2.cro-creditScore-text{
        margin-bottom: 26px;
        font-size: 20px;
        line-height: 23.44px;
    }

    html body.cro-CreditSav-t-1 .cro-needHelp {
        order: 4;
    }

    html body.cro-CreditSav-t-1 .cro-needHelp-inner>div{
        justify-content: center;
    }
}

html body.cro-CreditSav-t-1 .registerholder{
    padding-top: 48px;
}

@media (max-width: 1023px) {
    html body.cro-CreditSav-t-1 .registerholder{
        padding-top: 31px;
    }
}


/* registerForm */

html body.cro-CreditSav-t-1 #registerForm{
    width: 100%;
    max-width: 399px;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(241, 241, 241, 1);
    border: 10px solid rgb(255 255 255);
    border-radius: 10px;
    box-shadow: 0px 40px 46px 1px rgba(38, 54, 72, 0.37);
    padding: 28px 22px 0;
    min-height: 674px;
}

html body.cro-CreditSav-t-1 #registerForm>div:last-child{
    display: none;
}

html body.cro-CreditSav-t-1 #registerForm .mobilefeldspace,
html body.cro-CreditSav-t-1 #registerForm .rightspace{
    width: 100%;
}

html body.cro-CreditSav-t-1 #registerForm .invalid-feedback .ng-star-inserted{
    font-family: 'Roboto', sans-serif;
    color: #F90000;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    text-align: left;
    margin: 4px 0 8px;
}

html body.cro-CreditSav-t-1 #btnRegisterRegisterPage-3{
    width: 100%;
    margin-bottom: 28px !important;
    height: 54px;
    font-family: "Roboto", sans-serif;
    background: #E59A2C;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.78px;
    text-align: center;
}

@media (max-width: 1023px) {
    html body.cro-CreditSav-t-1 .registerholder>.container>.d-flex .frmhold{
        display: flex;
        flex-direction: column;
    }
    html body.cro-CreditSav-t-1 #registerForm .invalid-feedback .ng-star-inserted{
        font-size: 14px;
        line-height: 16.94px;
    }

    html body.cro-CreditSav-t-1 #registerForm{
        position: relative;
        float: none;
        margin-top: 32px;
        margin-bottom: 47px;
        /* margin-left: auto; */
        /* margin-right: auto; */
        order: 3;
    }

    html body.cro-CreditSav-t-1 .cro-creditScore-top{
        max-width: 345px;
    }
    
}

@media only screen and (max-width: 1023px){
    html body.cro-CreditSav-t-1 #auto-register-form span.cond-text{
        font-size: 14px !important;
    }
}

/* registerForm */

@media (max-width: 364px) {
    html body.cro-CreditSav-t-1 h2.cro-creditScore-text{
        font-size: 17px;
        line-height: 22.44px;
    }

    html body.cro-CreditSav-t-1 p.cro-creditScore-textPara{
        font-size: 15px;
        line-height: 22.44px;
    }
}

@media (max-width: 767px) {
    html body.recipe-t-review-1.cro-CreditSav-t-1 .four-card{
        margin: 20px auto;
    }

    html body.recipe-t-review-1.cro-CreditSav-t-1 .cro-needHelp-inner {
        margin-left: 0;
    }
}

html body.recipe-t-review-1.cro-CreditSav-t-1 .cro-nav-item a#cro-btn_LoginRedirect_Register-2 {
    text-decoration: underline !important;
}

html body.recipe-t-review-1.cro-CreditSav-t-1 #registerForm .form-control{
    border: 1px solid #C2D3D8;
    min-height: 45px;
    padding: 13px 7px;
}

section.new-sec:not(.cro-DBCS-94) {
    display: none;
}

#cro-btnRegisterRegisterPage-3 {
    width: 100%;
    margin-bottom: 28px !important;
    height: 54px;
    font-family: "Roboto", sans-serif;
    background: #A4A4A4;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.78px;
    text-align: center;
    padding: 5px 20px;
    border-radius: 30px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#cro-btnRegisterRegisterPage-3:not(.cro-active){
    pointer-events: none;
}

button#btnRegisterRegisterPage-3 {
    display: none;
}

#cro-btnRegisterRegisterPage-3.cro-active {
    background: #E59A2C;
    color: #fff;
}

@media (min-width: 1400px) {
  html body.cro-CreditSav-t-1 .registerholder>.container>.d-flex .pb-md-0 {
    padding: 0 90px !important;
  }

  html body.cro-CreditSav-t-1 section.register-hld.register .container:not(.cro-needHelp-inner) {
    padding: 0;
  }
}

html body.cro-CreditSav-t-1 .cro-creditScore-points>.cro-creditScore-point {
    margin-bottom: 15px;
}

html body.cro-CreditSav-t-1 .cro-creditScore-bottom {
    margin-top: 22px;
}

html body.cro-CreditSav-t-1 .cro-needHelp-inner {
    padding-left: 0;
}

html body.cro-CreditSav-t-1 .cro-needHelp-inner>div {
    padding-top: 10px !important;
}