html body.cro-t-8-11 .register-hld .container .col-md-9 {
    flex: auto;
    max-width: 746px;
    background-color: #E59A2C;
    box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 35px;
    border-radius: 5px;

}

html body.cro-t-8-11 .register-hld.register .rgstertext {
    font-style: inherit;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #22222C;
    padding-top: 17px;
    margin-bottom: 30px !important;
}

html body.cro-t-8-11 .register-hld.register h1.topcaption {
    font-style: inherit;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #38404E;
    margin-bottom: 50px;
}

html body.cro-t-8-11 .row .col-lg-7 {
    max-width: 671px;
    flex: 0 0 100%;
}

html body.cro-t-8-11 .col-md-9.px-md-5 {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}

/* --------Button----- */
html body.cro-t-8-11 #id-number-form .btn {
    background-color: #38404E;

}

html body.cro-t-8-11 .registerbtn {
    color: #FFFFFF;
    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    text-align: left;

}

html body.cro-t-8-11 #registerForm>.custom-row .mobilefeldspace,
#registerForm>.custom-row .rightspace {
    margin-bottom: 18px;
}

/* html body.cro-t-8-11 #registerForm>:nth-child(3)>div {
    margin-bottom: 20px;
} */

html body.cro-t-8-11 .cro-From-tnc {
    margin-bottom: 18px;
}

html body.cro-t-8-11 .cro-From-btn-reg {
    margin-bottom: 18px;
}

html body.cro-t-8-11 #btnRegisterRegisterPage-3 {
    background-color: #38404E;
    height: 100%;
    max-height: 38px;
}

html body.cro-t-8-11 #registerForm .custom-row .callus {
    color: #FFF !important;
    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    text-align: left;

}

html body.cro-t-8-11 .border-dark {
    border-color: #FFF !important;
}

html body.cro-t-8-11 #registerForm .mb-28:not(.d-none) span.pl-2 {
    color: #fff;
}


html body.cro-t-8-11 #btn_TermsCondition_Register-2,
#btn_PrivacyPolicy_Register {
    color: #fff;
    text-decoration: underline;
    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    text-align: left;

}

html body.cro-t-8-11 .frmhold .custom-row .d-block {
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: left;

}

html body.cro-t-8-11 #registerForm .custom-row .col span.border svg path {
    fill: #FFF;
}

html body.cro-t-8-11 .loginbgholder .loginbottompart {
    background-color: #D9D9D9 !important;
    box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.2);

}

html body.cro-t-8-11 .loginbgholder .loginbottompart h3.text-white {
    color: #38404E !important;
}

html body.cro-t-8-11 .loginbottompart>ul>li {
    color: #38404E !important;
}

/* html body.cro-t-8-11 .loginbgholder .loginbottompart .gauge-cont {
    display: none;
} */
html body.cro-t-8-11 .average,
.bad,
.good {
    color: black !important;
}

/* html body.cro-t-8-11 .arc_start {
    border-color: #d9d9d9 !important;
} */

html body.cro-t-8-11 .cro-score-img-inner {
    max-width: 201px;
    padding-top: 20px;
}

html body.cro-t-8-11 .cro-score-img {
    width: 100%;
}

html body.cro-t-8-11 #registerForm>.cro-From-tnc>div>span {
    color: rgba(255, 255, 255, 1);
    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    text-align: left;

}

html body.cro-t-8-11 .registerbtn>a {
    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    padding-left: 0 !important;

}

html body.cro-t-8-11 .cro-From-tnc .slider::before {
    font-family: inherit;
    font-size: 14px;
    font-weight: 400;

}

html body.cro-t-8-11 .cro-password-parent #strength {
    margin: 0;
    padding-top: 2px !important;
}

html body.cro-t-8-11 .cro-password-parent>.mobilefeldspace {
    margin-bottom: 20px !important;
}

html body.cro-t-8-11 .cro-password-parent>.rightspace {
    margin-bottom: 20px !important;
}

html body.cro-t-8-11 .cro-From-tnc .switch>input:checked+.slider {
    background-color: #8e5500;
}

html body.cro-t-8-11 .loginbottompart .plist {
    padding: 0px 0px 0px 19px;
}

html body.cro-t-8-11 .loginbottompart .pt-2 {
    padding-top: 12px !important;
    padding-bottom: 15px;
}

@media (min-width:768px) {
    html body.cro-t-8-11 #divIdNumber {
        position: relative;
        margin-bottom: 38px;
    }

    html body.cro-t-8-11 #divIdNumber>div>#IdNumber {
        width: 100%;
        max-width: 514px;
    }

    html body.cro-t-8-11 #id-number-form .btn {
        position: absolute;
        width: 146.78px;
        height: 38px;
        background-color: #38404E;
        top: 0px;
        right: 0px;
    }

    html body.cro-t-8-11 #id-number-form {
        position: relative;
    }

    html body.cro-t-8-11 #btnRegisterRegisterPage-3 {
        width: 150px;
        height: 38px;
        background-color: #38404E;
    }
}



@media only screen and (max-width: 767px) {
    html body.recipe-t-review-1.cro-t-8-11 .register-hld.register h1.topcaption {
        margin-bottom: 35px;
        font-size: 20px;
        line-height: 23.44px;
    }

    html body.recipe-t-review-1.cro-t-8-11 .register-hld.register .rgstertext {
        padding-top: 5px;
        font-size: 18px;
        line-height: 21.09px;
        margin-bottom: 12px !important;
    }

    html body.cro-t-8-11 #divIdNumber {
        margin-bottom: 15px;
    }

    html body.cro-t-8-11 #id-number-form .btn {
        margin-bottom: 18px !important;
    }

    html body.cro-t-8-11 .mobilespce {
        margin-left: 16px !important;
        margin-right: 16px !important;
    }

    html body.cro-t-8-11 .col-md-9.px-md-5 {
        padding-left: 18px !important;
        padding-right: 18px !important;
    }

    html body.cro-t-8-11 .register-hld.register h1.topcaption {
        font-family: inherit;
        font-size: 20px;
        font-weight: 400;
        line-height: 23.44px;
        text-align: left;
        margin-bottom: 37px;

    }

    html body.cro-t-8-11 .register-hld.register .rgstertext {
        font-family: inherit;
        font-size: 18px;
        font-weight: 400;
        line-height: 21.09px;
        text-align: center;
        padding-top: 8px;
        margin-bottom: 15px !important;

    }

    html body.cro-t-8-11 #id-number-form [placeholder="ID Number"] {
        height: auto;
    }

    html body.cro-t-8-11 .registerbtn {
        text-align: center;
    }

    html body.cro-t-8-11 .cro-first-name-parent {
        margin-bottom: 0;
    }

    html body.cro-t-8-11 .cro-phone-num-parent {
        margin-bottom: 0;
    }

    html body.cro-t-8-11 .cro-password-parent {
        margin-bottom: 12px;
    }

    html body.cro-t-8-11 .cro-From-tnc {
        margin-bottom: 30px;
    }

    html body.cro-t-8-11 .cro-From-btn-reg {
        margin-bottom: 32px;
    }

    html body.cro-t-8-11 .cro-Help-and-call {
        margin-bottom: 28px;
    }

    html body.cro-t-8-11 #id-number-form .btn {
        height: 100%;
        max-height: 38px;
    }

}


@media (min-width:1400px) {
    html body.cro-t-8-11 .loginbgholder>div.px-md-3 {
        padding-left: 3rem !important;
        padding-right: 3rem !important;
    }

    html body.cro-t-8-11 .loginbgholder {
        background-position: 270px top;
    }

}

@media (min-width:768px) and (max-width:1199px) {
    html body.cro-t-8-11 .loginbgholder>div.px-md-3 {
        padding-left: 0rem !important;
        padding-right: 3rem !important;
    }

}

@media (max-width:1399px) and (min-width:768px) {
    html body.cro-t-8-11 .container .col-lg-8 {
        width: 100%;
        max-width: 743px;
    }

    html body.cro-t-8-11 .loginbottompart {
        width: 100%;
        max-width: 250px
    }

    html body.cro-t-8-11 .loginbgholder>div.px-md-3 {
        padding-left: 0 !important;
    }

    html body.cro-t-8-11 .container .col-lg-8.px-md-3 {
        padding-left: .3rem !important;
    }

    html body.cro-t-8-11 .loginbgholder {
        background-position: 220px top;
    }

    html body.cro-t-8-11 .cro-headingParent {
        width: 100%;
        max-width: 58%;
    }

}

@media (max-width:1199px) and (min-width:992px) {
    html body.cro-t-8-11 .cro-headingParent {
        width: 100%;
        max-width: 69%;
    }
}

@media (max-width:991px) and (min-width:768px) {
    html body.cro-t-8-11 .cro-headingParent {
        width: 100%;
        max-width: 92%;
    }
}


@media (max-width:1024px) and (min-width:768px) {
    html body.cro-t-8-11 .loginbgholder {
        background-position: 190px top;
    }
}

@media (max-width: 991px) and (min-width:768px) {
    html body.cro-t-8-11 #divIdNumber>div>#IdNumber {
        width: 100%;
        max-width: 470px;
    }
}