html div#__next [width="1"] section a[href*="/products"]+div button::after {
    content: 'add';
    margin-left: 2px;
    color: var(--White, #FFF);
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

html div#__next [width="1"] section a[href*="/products"]+div button {
    width: fit-content;
    border-radius: 100px;
    padding: 6px 8px;
    background: #8ECC2D;
    height: 30px;
}

html div#__next [width="1"] section a[href*="/products"]+div button:hover {
    background: #5f6971;
}

html div#__next [width="1"] section a[href*="/products"]+div button svg {
    fill: #fff;
    stroke: #fff;
    width: 18px;
    height: 18px;
}

/* Styles for screens with a minimum width of 769px and a maximum width of 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
    html div#__next [width="1"] section a[href*="/products"]+div button::after{
        font-size: 14px;
    }


    html div#__next [width="1"] section a[href*="/products"]+div button svg{
        width: 18px;
        height: 18px;
    }

    html div#__next [width="1"] section a[href*="/products"]+div button{
        padding: 8px;
    }

}

@media (min-width: 768px) {
    
}

@media (min-width: 880px) {
    html div#__next [width="1"] section a[href*="/products"]+div {
        margin-top: 10px;
        align-items: flex-end;
    }
}

@media (min-width: 768px) and (max-width: 879px) {
    html div#__next [width="1"] section a[href*="/products"]+div {
        margin-top: 10px;
        /* align-items: flex-start; */
    }

    html div#__next [width="1"] section a[href*="/products"]+div [role="group"]+div{
        height: 100%;
    }
}

@media (max-width: 767px) {
    html div#__next [width="1"] section a[href*="/products"]+div {
        grid-template-columns: 1fr;
        row-gap: 10px;
    }
}

html div#__next [width="1"] section a[href*="/products"]+div button::before {
    display: none !important;
}


html div#__next [width="1"] section a[href*="/products"]+div button.loading::before {
    content: "";
    display: inline-block;
    position: absolute;
    border-width: 2px;
    border-style: solid;
    border-color: transparent transparent transparent rgb(255, 255, 255);
    border-radius: 50%;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    margin-top: -12px;
    margin-left: -12px;
    width: 24px;
    height: 24px;
    animation: cr 0.8s linear infinite;
}