

html div#__next [width="1"] section a[href*="/products"]+div button {
    width: 32px;
    border-radius: 100%;
    background: #0093D0;
    height: 32px;
}

html div#__next [width="1"] section a[href*="/products"]+div button:hover {
    background: #5f6971;
}

html div#__next [width="1"] section a[href*="/products"]+div button svg {
    fill: #fff;
    stroke: #fff;
}

html div#__next [width="1"] section a[href*="/products"]+div button::before{
    display: none !important;
}


html div#__next [width="1"] section a[href*="/products"]+div button.loading::before {
    content: "";
    display: inline-block;
    position: absolute;
    border-width: 2px;
    border-style: solid;
    border-color: transparent transparent transparent rgb(255, 255, 255);
    border-radius: 50%;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    margin-top: -12px;
    margin-left: -12px;
    width: 24px;
    height: 24px;
    animation: cr 0.8s linear infinite;
}