html body.cro-recipe-2{
  margin-bottom: 0;
}

html body.cro-recipe-2 .text-red-500 {
  font-size: 12px;
  color: #C60808;
}
html body.cro-recipe-2 .cro-navbar {
  height: 85px;
  background-color: #0E70AB;
}

html body.cro-recipe-2 .cro-navbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  /* width: 100%; */
  padding: 0 20px;
  margin: 0 auto;
}

html body.cro-recipe-2 .cro-navbar-logo img {
  height: 42px;
  max-height: 100%;
}

html body.cro-recipe-2 .cro-navbar-nav {
  flex-grow: 1;
  display: flex;
  justify-content: right;
}

html body.cro-recipe-2 .cro-navbar-nav ul {
  list-style: none;
  display: flex;
  gap: 3rem;
  margin: 0;
  padding: 0;
}

html body.cro-recipe-2 .cro-navbar-nav a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
}

html body.cro-recipe-2 .cro-navbar-nav a:hover {
  border-bottom: 2px solid white;
}


html body.cro-recipe-2 .cro-navbar-nav nav {
  display: flex;
  align-items: center;
}
html body.cro-recipe-2 #primary{
  display: none;
}
html body.cro-recipe-2 .cro-t-01-partner{
  display: none;
}
html body.cro-recipe-2 .cro-logo-div{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: none;
  gap: 50px;
}
html body.cro-recipe-2 .cro-solve{
  background-color: #F2F2F2;
  padding: 5px;
  margin-top: 35px;
}
html body.cro-recipe-2  .cro-solve-mainTitle{
  font-size: 37px;
  color: #414141;
  text-align: center;
  font-weight: 400;
}
html body.cro-recipe-2 .cro-solve-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: row;
}
html body.cro-recipe-2 .cro-solve-img svg{
  width: 100%;
  height: 67px;
}
html body.cro-recipe-2 .cro-solve-title-main{
  text-align: center;
  font-size: 14px;
  color: #0E70AB;
  font-weight: 700;
  line-height: 16.94px;
}
html body.cro-recipe-2 .cro-solve-subTitle-sub{
  font-size: 14px;
  color: #000;
  text-align: center;
  font-weight: 400;
  line-height: 16.94px;
}
html body.cro-recipe-2 #secondary{
  text-align: center;
  background-color: #0E70AB;
  font-size: 14px;
  padding: 20px 0;
  justify-content: center;
  align-items: center;
  font-weight: 400;
}
html body.cro-recipe-2 .box svg{
  display: none;
}
html body.cro-recipe-2 .box h1{
  display: none;
}
html body.cro-recipe-2 .cro-t-02-title-main{
  font-size: 37px;
  color: #414141;
  line-height: 44.78px;
  margin-bottom: 0;
  font-style: normal;
  font-weight: 700;
}
html body.cro-recipe-2 .cro-t-02-title-sub{
  font-size: 37px;
  color: #414141;
  line-height: 44.78px;
  margin-top: 0;
  font-style: normal;
  font-weight: 400;
}
html body.cro-recipe-2 .cro-t-02-subHead-sub{
  color: #414141;
  font-size: 18px;
  line-height: 25.2px;
  font-weight: 400;
}
html body.cro-recipe-2 .crolistItems-item{
  display: flex;
  align-items: baseline;
  gap: 15px;
  /* height: 50px; */
}
html body.cro-recipe-2 .circle-nbr-nbr{
  color: #fff;
  background-color: #7FC419;
  font-size: 12px;
  padding: 7px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  font-weight: 700;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
html body.cro-recipe-2 .circle-description{
  color: #414141;
  font-size: 17px;
  line-height: 23.8px;
  font-weight: 400;
}
html body.cro-recipe-2 .cro-solve-img{
  display: flex;
  justify-content: center;
  align-items: center;
}
html body.cro-recipe-2 .cro-solve-img-img{
  width: 73px;
  height: 67px;
}
@media(max-width:1023px){
  html body.cro-recipe-2 .cro-navbar-nav{
      display: none;
  }
  html body.cro-recipe-2 .cro-solve-wrapper{
      flex-direction: column;
  }
  html body.cro-recipe-2 .cro-t-02-title-main,
  html body.cro-recipe-2 .cro-t-02-title-sub{
      font-size: 28px;
  }
}

.cro-logo img {
  width: 100%;
}

html body.cro-recipe-2 .cro-mbl-logo{
  display: none;
}

html body.cro-recipe-2 .mbl-logo-div-one{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 25px;
}

html body.cro-recipe-2 .croDebt{
  height: 50px;
}

html body.cro-recipe-2 .croMoney{
  height: 40px;
}

html body.cro-recipe-2 .croIdm{
  height: 30px;
}

html body.cro-recipe-2 .mbl-logo-div-two{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  padding-bottom: 20px;
  gap: 25px;
}

html body.cro-recipe-2 .croSanlam{
  height: 40px;
}

html body.cro-recipe-2 .croFin{
  height: 40px;
}



/* ----------------------------MObile--------------------- */
@media(max-width:1023px){
  html body.cro-recipe-2 #secondary{
      display: block;
  }

  html body.cro-recipe-2 .cro-logo{
      display: none;
  }

  html body.cro-recipe-2 .cro-mbl-logo{
      display: block;
  }
  
}

/* ---------------------------------------------FOrm Start---------------------------------------- */

.lg\:items-end.overflow-hidden {
  display: none;
}
.box > svg {
  display: none;
}
.box > h1 {
  display: none;
}
.box >form {
  width: 45%;
}
.box >form {
  display: flex;
  flex-wrap: wrap;
  background-color: #F2F2F2;
  padding: 65px 30px 30px 30px;
  max-width: 600px;
  position: relative;
  border-radius: 6px;
  border: 1px solid #CCC;
}
.croFormHeading {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50px;
  left: 0;
  padding-left: 27px;
  padding-top: 12px;
  background: #CCC;
  border-radius: 6px 6px 0px 0px;
  border: 1px solid #CCC;
  color: #414141;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.box >form > p:nth-of-type(1) {
  width: 50%;
}
.box >form > p:nth-of-type(2) {
  width: 50%;
  /* margin-left: auto; */
  display: flex;
  flex-direction: column;
}
.box >form > p:nth-of-type(3) {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.box >form > p:nth-of-type(4) {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.box >form > p:nth-of-type(5) {
  width: 100%;
  display: flex;
  flex-direction: column;
}
input#first_name {
  width: 95%;
}
input#last_name {
  width: 95%;
  margin-left: auto;
}
input#phone_mobile {
  width: 100%;
}
input#email {
  width: 100%;
}
input#id_number {
  width: 100%;
}
.box >form > p:nth-of-type(6) {
  order: 7;
  color: #414141;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin: auto;
  margin-top: 15px;
}
input.btn.md.primary {
  width: 100%;
  border-radius: initial;
  background-color: #7FC419;
}
[for="last_name"] {
  margin-left: 14px;
}
span#last_name-error {
  margin-left: 14px;
}
.box >form > p > label {
  color: #414141;
  /* font-family: Inter; */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.box >form > p > input {
  border-radius: 6px;
  border: 1px solid #CCC;
  background: #FFF;
}
/* ---------------------------------------------FOrm Ends---------------------------------------- */
.box {
  background-image: none;
  border-right-width: 0;
  border-left-width: 0;
  display: flex;
  width: 100%;
  gap: 25px;
  align-items: baseline;
  justify-content: space-between;
}
body.cro-recipe-2 {
  background-color: #fff;
  background-image: none;
}
.cro-t-02.left-content {
  width: 50%;
}
p.text-sm.text-white {
  display: none;
}

.cro-logo img {
  width: 100%;
}

.cro-solve-problem {
  width: 33.3%;
  padding: 15px;
}
.cro-solve-subTitle {
  padding: 0 5%;
}

/* ----------------------------MObile--------------------- */
@media(max-width:1023px){
  .cro-logo img {
      width: 100%;
  }
  
  .box {
      flex-direction: column;
      gap: 30px 0;
      padding: 0;
  }
  
  .cro-t-02.left-content {
      width: 100%;
  }
  
  .box >form {
      width: 100%;
      padding: 65px 20px 20px 20px;
      max-width: fit-content;
  }
  .croFormHeading{
      padding-left: 22px;
      font-size: 16px;
  }

  .cro-solve-problem {
      width: 100%;
      padding: 15px;
  }
  
}
.relative.container.mt-5 #secondary {
  display: none;
}
.cro-recipe-2 #loom-companion-mv3 {
  display: none;
}

@media(max-width:767px){
  .box >form > p:nth-of-type(1),
  .box >form > p:nth-of-type(2),
  input#first_name,
  input#last_name{
    width: 100%;
  }

  .box >form > p > label{
    margin-left: 0;
  }

  .box >form > p:nth-of-type(6){
    text-align: left;
  }

  html body.cro-recipe-2 .croDebt,
  html body.cro-recipe-2 .croMoney,
  html body.cro-recipe-2 .croIdm,
  html body.cro-recipe-2 .croSanlam,
  html body.cro-recipe-2 .croFin{
    height: auto;
  }
  
}