html body.cro-Recipe-i1.cro-t-88_89-Review .cro-client-say-header {
    background: #BEDDE6;
}

html body.cro-Recipe-i1.cro-t-88_89-Review .croCliCard {
    height: 400px;
}

html body.cro-Recipe-i1.cro-t-88_89-Review .client-header-title {
    color: #273748;
    font-size: 31px;
    font-weight: 700;
    padding: 43px 0px 0px;
    border-radius: 5px 5px 0px 0px;
    text-align: center;
    font-family: Metropolis, Helvetica, Arial, sans-serif;
    text-align: center;
    width: 100%;
    background-color: #BEDDE6;
    margin-left: 0;

}

html body.cro-Recipe-i1.cro-t-88_89-Review .card-text-first {
    color: #000;
    font-family: Metropolis, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}


html body.cro-Recipe-i1.cro-t-88_89-Review .client-header-title::after {
    content: "Discover how we've helped people just like you";
    font-size: 22px;
    color: #273748;
    font-weight: bold;
    line-height: 32px;
    text-align: center;
    font-family: Metropolis, Helvetica, Arial, sans-serif;
    display: block;
    font-style: normal;
    padding-top: 6px;

}

html body.cro-Recipe-i1.cro-t-88_89-Review .cro-cards .card-content .sub-text {
    color: #263648;
    font-family: Metropolis, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

/* html body.cro-Recipe-i1.cro-t-88_89-Review .cro-card-four .card-image img {
    border: 0px solid #fff !important;
} */

@media (max-width:767px) {
    html body.cro-Recipe-i1.cro-t-88_89-Review .cro-client-say {
        padding: 60px 0;
    }

    html body.cro-Recipe-i1.cro-t-88_89-Review .client-header-title {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    html body.cro-Recipe-i1.cro-t-88_89-Review .client-header-title {
        font-size: 26px !important;
    }

}

@media (max-width: 600px) {

    html body.cro-Recipe-i1.cro-t-88_89-Review .croCliCard {
        height: fit-content;
        width: 100%;
        max-width: 310px;
    }

}