/* -----control---- */

html body.cro86 .cro-online-quote.container-usp{
    display: none;
}

html body.cro86 .cro-container {
    padding-left: 40px;
    padding-right: 40px;
}


html body.cro86 .cro-t-86-Online-Quote-wrapper {
    padding-top: 30px;
    padding-bottom: 50px;
}

html body.cro86 div#cro-t-86-free-online-quote {
    background-color: #e9eaef;
}

html body.cro86 .cro-t-86-Online-Quote-secton-card-top-text {
    color: var(--Dark-Blue, #282B6E);
    text-align: center;
    font-family: 'Catamaran', sans-serif !important;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.1;
    text-transform: uppercase;
}

html body.cro86 .cro-t-86-Online-Quote-card-container {
    /* gap: 39px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* max-width: 1470px; */
    padding-top: 70px;
    /* margin: 0 auto; */
}

html body.cro86 .cro-t-86-Online-Quote-card {
    border-radius: 9px;
    /* background: #F7F8FC; */
    /* box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.25); */
    display: flex;
    padding: 0px 28px;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 25%;
    gap: 20px;
    justify-content: space-between;
    /* max-width: 335px; */
}

html body.cro86 .cro-t-86-Online-Quote-card-top-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
}

html body.cro86 .cro-t-86-Online-Quote-card-icon {
    width: 97px;
    height: 97px;
    cursor: pointer;
}

html body.cro86 h3.cro-t-86-Online-Quote-card-header {
    color: var(--Dark-Blue, #282B6E);
    text-align: center;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700 !important;
    line-height: 1;
    text-transform: uppercase;
}

html body.cro86 .cro-t-86-Quote-card-price-from-text {
    display: none;
}

html body.cro86 .cro-t-86-Quote-card-Main-price-text {
    color: var(--Dark-Blue, #282B6E);
    text-align: center;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
}

html body.cro86 .cro-t-86-Quote-card-Main-price-textBottom span {
    color: var(--Dark-Blue, #282B6E);
    text-align: center;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

html body.cro86 .cro-t-86-Quote-card-price-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

html body.cro86 p.cro-t-86-Online-Quote-card-subheader-text {
    color: #666;
    text-align: center;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

html body.cro86 .cro-t-86-Online-Quote-card-download-icon {
    width: 100%;
    max-width: 236px;
    cursor: pointer;
}

html body.cro86 .cro-t-86-Online-Quote-card-download-icon img {
    width: 100%;
}

html body.cro86 .cro-t-86-Online-Quote-card.Online-Quote-4 .cro-t-86-Quote-card-Main-price-textBottom {
    visibility: hidden;
}

@media (max-width:1320px){
html body.cro86 .cro-t-86-Online-Quote-card {
    padding: 0px 13px;
}
}

@media (max-width:1200px){
html body.cro86 .cro-t-86-Online-Quote-card {
    padding: 0px 25px;
}
    
html body.cro86 h3.cro-t-86-Online-Quote-card-header{
        line-height:normal;
        height: 48px;
    }
}

@media (max-width:991px){
html body.cro86 .cro-t-86-Online-Quote-card{
    width:100%;
    max-width: 100%;
    padding: 0;
}
    html body.cro86 .cro-t-86-Online-Quote-card-container{
        gap: 88px;
    }

    html body.cro86 h3.cro-t-86-Online-Quote-card-header {
    line-height: normal;
    height: auto;
}
}