/* Review */
html body.recipe-t-review-1.recipe-t-review-buildSlider section.cro-21_51_newSection {
    background-color: #FAEBD5;
    padding-top: 10px;
    padding-bottom: 50px;
    /* background-color: #D3D3D3; */
}

html body.recipe-t-review-1.recipe-t-review-buildSlider h2.top-header {
    margin-top: 60px;
    margin-bottom: 9px;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #22222C;
}

html body.recipe-t-review-1.recipe-t-review-buildSlider .sec-part {
    text-align: center;
    padding-bottom: 35px;
}

html body.recipe-t-review-1.recipe-t-review-buildSlider .btn-sec-part {
    display: flex;
    align-items: center;
    /* padding: 1px 0px; */
}

html body.recipe-t-review-1.recipe-t-review-buildSlider .sec-header-part {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

html body.recipe-t-review-1.recipe-t-review-buildSlider p.sec-frst-text {
    margin-right: 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #22222C;
}

html body.recipe-t-review-1.recipe-t-review-buildSlider img.top-icon {
    width: 100px;
    height: 20px;
    max-width: 100%;
    max-height: 100%;
}

html body.recipe-t-review-1.recipe-t-review-buildSlider p.sec-sec-text {
    margin-left: 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #22222C;
}

html body.recipe-t-review-1.recipe-t-review-buildSlider p.sec-sec-text strong {
    font-weight: 700;
}

html body.recipe-t-review-1.recipe-t-review-buildSlider .cards-part {
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
}

html body.recipe-t-review-1.recipe-t-review-buildSlider .back-part {
    background-color: #fff;
    border: 1px solid #CDBBA1;
    padding: 20px 20px 21px 20px;
    height: 300px;
    /* min-height: 500px; */
    display: flex !important;
    flex-direction: column;
    justify-content: flex-start;
}

html body.recipe-t-review-1.recipe-t-review-buildSlider h3.card-header {
    background-color: transparent;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    color: #22222C;
    border-bottom: none;
    padding: 0;
    margin-bottom: 12px;
    min-height: 38px;
}

html body.recipe-t-review-1.recipe-t-review-buildSlider .cro-review-card {
    /* max-width: 220px !important; */
    width: 100%;
}

html body.recipe-t-review-1.recipe-t-review-buildSlider p.clint-name {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    color: #D9A937;
    /* color: #333333; */
}

html body.recipe-t-review-1.recipe-t-review-buildSlider img.card-img-1 {
    width: 100%;
    max-width: 90px;
}

html body.recipe-t-review-1.recipe-t-review-buildSlider p.under-text {
    width: 100%;
    max-width: 100%;
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    color: #22222C;
    flex: 0;
    /* font-style: italic; */
}

html body.recipe-t-review-1.recipe-t-review-buildSlider .first-card {
    width: 100%;
    max-width: 178px;
}

html body.recipe-t-review-1.recipe-t-review-buildSlider .sec-card {
    max-width: 178px;
    margin: 0px 20px;
}

html body.recipe-t-review-1.recipe-t-review-buildSlider .third-card {
    max-width: 178px;
    /* margin-right: 20px; */
    margin: 0;
}

html body.recipe-t-review-1.recipe-t-review-buildSlider .four-card {
    max-width: 178px;
    margin: 0;
}

html body.recipe-t-review-1.recipe-t-review-buildSlider .register-hld.register #id-number-form .form-control {
    background-color: #FFFFFF;
    border: 1px solid #C2D3D8;
    font-size: 16px;
    line-height: 19.36px;
    color: #868686;
}

/* html body.recipe-t-review-1.recipe-t-review-buildSlider h3.card-header{
    order: 2;
    display: none;
}

html body.recipe-t-review-1.recipe-t-review-buildSlider p.under-text{
    order: 3;
    flex: none;
    margin: 11px 0;
}

html body.recipe-t-review-1.recipe-t-review-buildSlider img.card-img-1{
    order: 1;
}

html body.recipe-t-review-1.recipe-t-review-buildSlider p.clint-name{
    order: 4;
    margin: 0;
} */

/* html body.recipe-t-review-1.recipe-t-review-buildSlider .sec-part{
    display: none;
} */

html body.recipe-t-review-1.recipe-t-review-buildSlider h2.top-header {
    margin-top: 70px;
    /* margin-bottom: 85px; */
    margin-bottom: 18px;
}

html body.recipe-t-review-1.recipe-t-review-buildSlider section.cro-21_51_newSection {
    padding-bottom: 98px;
}


@media (max-width: 767px) {
    html body.recipe-t-review-1.recipe-t-review-buildSlider h2.top-header {
        margin-top: 70px;
        margin-bottom: 22px;
        font-size: 24px;
        line-height: 28.13px;
    }

    html body.recipe-t-review-1.recipe-t-review-buildSlider .sec-part {
        padding-bottom: 0;
    }

    html body.recipe-t-review-1.recipe-t-review-buildSlider .sec-header-part {
        align-items: center;
        flex-direction: column;
    }

    html body.recipe-t-review-1.recipe-t-review-buildSlider p.sec-frst-text {
        margin: 0;
    }

    html body.recipe-t-review-1.recipe-t-review-buildSlider img.top-icon {
        margin: 10px 0;
    }

    html body.recipe-t-review-1.recipe-t-review-buildSlider .back-part {
        height: 100%;
        min-height: 300px;
        padding: 25px 36px;
    }

    html body.recipe-t-review-1.recipe-t-review-buildSlider .cro-review-card {
        max-width: 300px !important;
        margin: 20px auto;
    }
}

@media (max-width: 469px) {
    html body.recipe-t-review-1.recipe-t-review-buildSlider .sec-card {
        margin: 20px auto 0;
    }
}

@media (max-width: 345px) {
    html body.recipe-t-review-1.recipe-t-review-buildSlider h2.top-header {
        margin-top: 70px;
        margin-bottom: 22px;
        font-size: 22px;
        line-height: 28.13px;
    }
}



/* Review */


/* Nav Batch-Desktop */

html body.recipe-t-review-1.recipe-t-review-buildSlider .cro-top-button-sec {
    position: sticky;
}

html body.recipe-t-review-1.recipe-t-review-buildSlider .cro-top-button-sec-mob .top-button {
    margin: 0 auto;
    max-width: 337px;
    width: 100%;
}

html body.recipe-t-review-1.recipe-t-review-buildSlider .cro-top-button-sec-mob p.btn-first-text {
    margin-right: 6px;
}

html body.recipe-t-review-1.recipe-t-review-buildSlider .top-button {
    width: 254px;
    /* width: 100%; */
    max-height: 67px;
    background-color: #4AAEAC;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

html body.recipe-t-review-1.recipe-t-review-buildSlider .main-icon {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 6px;
}

html body.recipe-t-review-1.recipe-t-review-buildSlider img.img-icon {
    width: 28px;
    height: 28px;
    max-width: 100%;
    max-height: 100%;
}

html body.recipe-t-review-1.recipe-t-review-buildSlider p.btn-first-text {
    margin: 0;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

html body.recipe-t-review-1.recipe-t-review-buildSlider .btn-sec-part {
    display: flex;
    align-items: center;
    /* padding: 1px 0px; */
}

html body.recipe-t-review-1.recipe-t-review-buildSlider p.btn-sec-text {
    margin: 0;
    color: #fff;
    padding-right: 6px;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

html body.recipe-t-review-1.recipe-t-review-buildSlider img.btn-star-sec {
    width: 91px;
    height: 19px;
    max-width: 100%;
    max-height: 100%;
}

html body.recipe-t-review-1.recipe-t-review-buildSlider p.btn-last-text {
    margin: 0;
    color: #ACF1F0;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

@media (min-width: 768px) {
    html body.recipe-t-review-1.recipe-t-review-buildSlider .cro-top-button-sec-mob {
        display: none;
    }
}

@media (max-width: 767px) {
    html body.recipe-t-review-1.recipe-t-review-buildSlider .cro-top-button-sec {
        display: none;
    }

    html body.recipe-t-review-1.recipe-t-review-buildSlider .cro-top-button-sec-mob {
        position: sticky;
        margin-top: 16px;
        margin-bottom: 26px;
    }

    html body.recipe-t-review-1.recipe-t-review-buildSlider p.btn-first-text {
        font-size: 16px;
        line-height: 18.15px;
    }

    html body.recipe-t-review-1.recipe-t-review-buildSlider p.btn-last-text {
        font-size: 18px;
        line-height: 18.15px;
    }
}

/* Nav Batch-Desktop */

/* Nav Batch-Mobile */

html body.recipe-t-review-1.recipe-t-review-buildSlider .cro-top-button-sec-mob .top-button {
    margin: 0 auto;
    max-width: 337px;
    width: 100%;
}

html body.recipe-t-review-1.recipe-t-review-buildSlider .cro-top-button-sec-mob p.btn-first-text {
    margin-right: 6px;
}

@media (max-width: 767px) {

    html body.recipe-t-review-1.recipe-t-review-buildSlider .cro-top-button-sec-mob {
        position: sticky;
        margin-top: 16px;
        margin-bottom: 26px;
    }
}


/* Nav Batch-Mobile */




/* ----Last -------- */


/* html body.recipe-t-review-1 .cards-part {
    display: none;
}

.cro-21_51_newSection {
    display: none;
} */

/* html body.recipe-t-review-1.cro-new-slider section.cro-new-sec {
    background-color: #FAEBD5;
    padding-top: 10px;
    padding-bottom: 50px;
    background-color: #D3D3D3;
} */

/* html body.recipe-t-review-1.cro-new-slider .cro-new-sec .swiper-button-prev::after,
.cro-new-sec .swiper-button-next::after {
    display: none;
} */

.cro-cards-part {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

html body.recipe-t-review-1.recipe-t-review-buildSlider .cro-cards-part-inner {
    display: flex;
    justify-content: space-around;
    /* padding-bottom: 90px; */
    flex-wrap: wrap;
    max-width: 1024px;
    margin: auto;
    position: relative;
}

html body.recipe-t-review-1.recipe-t-review-buildSlider  .swiper-wrapper{
    align-items: center;
}

html body.recipe-t-review-1.recipe-t-review-buildSlider .cro-new-sec-wrapper .swiper {
    /* padding-left: 40px;
    padding-right: 40px; */
    margin-left: 60px;
    margin-right: 60px;
}

html body.recipe-t-review-1.recipe-t-review-buildSlider .cro-cards-part-inner-slider {
    overflow: hidden;
    /* padding-bottom: 40px; */
}

html body.recipe-t-review-1.recipe-t-review-buildSlider .cro-swiperButton::after {
    display: none;
}

html body.recipe-t-review-1.recipe-t-review-buildSlider .cro-new-sec-wrapper .swiper-button-prev {
    width: 45px;
    height: 44px;
    left: 0;
    right: unset;
}

html body.recipe-t-review-1.recipe-t-review-buildSlider .cro-new-sec-wrapper .swiper-button-next {
    width: 45px;
    height: 44px;
    left: unset;
    right: 0;
}

html body.recipe-t-review-1.recipe-t-review-buildSlider .swiper-slide {
    height: 100% !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* max-width: 220px !important; */
}

/* html body.recipe-t-review-1.recipe-t-review-buildSlider .swiper-button-prev.cro-swiperButton {
    padding-right: 15px;
} */

/* html body.recipe-t-review-1.recipe-t-review-buildSlider .swiper-button-next.cro-swiperButton {
    padding-left: 15px;
} */

html body.recipe-t-review-1.recipe-t-review-buildSlider .cro-swiper-button-prev,
.cro-swiper-button-next {
    background-color: #f0f0f0;
    border-radius: 50%;
    width: 100%;
    object-fit: contain;
}

html body.recipe-t-review-1.recipe-t-review-buildSlider .sec-card {
    margin: 0;
}

html body.recipe-t-review-buildSlider section.new-sec {
    display: none;
}

@media (max-width: 767px) {
    html body.recipe-t-review-1.recipe-t-review-buildSlider .cro-new-sec-wrapper .swiper-button-prev{
        width: 45px;
        height: 44px;
        left: -18rem;
        right: 0;
        margin: 0 auto;
        top: 45%;
    }
    html body.recipe-t-review-1.recipe-t-review-buildSlider .cro-new-sec-wrapper .swiper-button-next{
        width: 45px;
        height: 44px;
        left: 0;
        right: -18rem;
        margin: 0 auto;
        top: 45%;
    }
    html body.recipe-t-review-1.recipe-t-review-buildSlider .cro-new-sec-wrapper .swiper{
        margin-left: 30px;
        margin-right: 30px;
    }
    
}

@media (min-width: 1000px) and (max-width: 1200px) {
  
    html body.recipe-t-review-1.recipe-t-review-buildSlider .back-part{
        padding: 20px 21px 21px 20px;
    }
    
}