@media (min-width: 1023px) {
    html body .cro-153-mobileAtf{
        display: none;
    }
}

@media (max-width: 1023px) {
    html body.cro-t-dcz-153 section.pb-0 h1 + p{
        display: none;
    }

    html body.cro-t-dcz-153 section.pb-0 ol{
        display: none;
    }

    html body.cro-t-dcz-153 .cro-153-mobileAtf-text p {
        margin: 35px 0 13px;
    }
    
    html body.cro-t-dcz-153 h1 {
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin: 17px 0;
    }
    
    html body.cro-t-dcz-153 section.pb-0 {
        padding-top: 0;
    }
    
    html body.cro-t-dcz-153 section.pb-0>.gap-5 {
        gap: 0;
    }

    html body.cro-t-dcz-153 section.pb-0 h2 {
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding-left: 5px;
        padding-right: 5px;
    }

    html body.cro-t-dcz-153 section.pb-0 a{
        text-decoration: underline;
    }
}