html body.CRO-8037_Banner_After_Every_4th_Row .cro-xtd-banner__link {
    display: block;
}

html body.CRO-8037_Banner_After_Every_4th_Row .cro-xtd-banner__img {
    display: block;
    width: 100%;
    height: auto;
}

html body.CRO-8037_Banner_After_Every_4th_Row .cro-xtd-banner--flexItem {
    margin-bottom: 32px;
    padding-left: 32px;
    padding-right: 0px;
    margin-top: 0;
}

html body.CRO-8037_Banner_After_Every_4th_Row .cro-xtd-banner {
    width: 100%;
    display: block;
    flex: 0 0 100%;
    grid-column: 1 / -1;
}

@media screen and (max-width: 767px) {
    html body.CRO-8037_Banner_After_Every_4th_Row .cro-xtd-banner--flexItem {
        padding-left: 16px;
    }
}

html[pagepath="clearancesale"] body .cro-xtd-banner.cro-xtd-banner--flexItem {
    padding-left: 32px;
    margin-bottom: 32px;
}

@media screen and (max-width: 767px) {

    html[pagepath="clearancesale"] body .cro-xtd-banner.cro-xtd-banner--flexItem {
        display: flex;
        width: 100%;
        justify-content: center;
        /* margin-bottom: 32px; */
        padding-left: 0;

    }

    html[pagepath="clearancesale"] body .cro-xtd-banner.cro-xtd-banner--flexItem a {
        padding-left: 16px;
    }

    html[pagepath="clearancesale"] body .cro-xtd-banner.cro-xtd-banner--flexItem img {
        max-width: 340px;
    }
}