html[cro-datapath="/za/t/138/categories/farm-fresh"] body .x-page-layout [xheader],
html[cro-datapath="/za/t/5/categories/pantry"] body .x-page-layout [xheader],
html[cro-datapath="/za/t/7/categories/fine-living"] body .x-page-layout [xheader],
html[cro-datapath="/za/t/4/categories/wine"] body .x-page-layout [xheader],
html[cro-datapath="/za/t/6/categories/bath-body"] body .x-page-layout [xheader],
html[cro-datapath="/za/t/10/categories/gifting"] body .x-page-layout [xheader] {
    display: none;
}