/* cro-recipe-33_34-t-1 */

html body.cro-recipe-33_34-t-1.cro-33_34-firstFold-t-2 .cro-t-congratulations h1{
    margin: 0;
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 48px;
    font-weight: 700;
    line-height: 58.09px;
    text-align: left;
    color: #EB9E36;
}
html body.cro-recipe-33_34-t-1.cro-33_34-firstFold-t-2 .cro-t-congratulations h2{
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 30px;
    font-weight: 700;
    line-height: 36.31px;
    text-align: left;
    color: #3C3C3C;
    margin-top: 35px;
    margin-bottom: 29px;
}
html body.cro-recipe-33_34-t-1.cro-33_34-firstFold-t-2 #call-to-action-and-form picture{
    display: none;
}
html body.cro-recipe-33_34-t-1.cro-33_34-firstFold-t-2 .cro-banner-updateImg {
    width: 100%;
    height: 100%;
}
html body.cro-recipe-33_34-t-1.cro-33_34-firstFold-t-2 .cro-banner-updateImg-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
html body.cro-recipe-33_34-t-1.cro-33_34-firstFold-t-2 img.cro-updateBannerPhoto {
    /* min-height: 610px; */
    height: 100%;
    object-fit: contain;
}
html body.cro-recipe-33_34-t-1.cro-33_34-firstFold-t-2 .cro-t-congratulations p {
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 20px;
    font-weight: 400;
    line-height: 24.2px;
    text-align: left;
    color: #3C3C3C;
    max-width: 428px;
}
html body.cro-recipe-33_34-t-1.cro-33_34-firstFold-t-2 #call-to-action-and-form{
    background-color: #f2f2f2;
}
html body.cro-recipe-33_34-t-1.cro-33_34-firstFold-t-2 .overlay{
    opacity: 0 !important;
}
html body.cro-recipe-33_34-t-1.cro-33_34-firstFold-t-2 .cro-footerUpdate {
    /* padding-top: 69px; */
}
html body.cro-recipe-33_34-t-1.cro-33_34-firstFold-t-2 .cro-footerUpdate-topInner {
    padding-top: 80px;
    background-color: #EEEEEE;
}
html body.cro-recipe-33_34-t-1.cro-33_34-firstFold-t-2 .cro-footerUpdate-bottomInner {
    padding: 37px 0;
    background-color: #4AAEAC;
    height: 100%;
}
html body.cro-recipe-33_34-t-1.cro-33_34-firstFold-t-2 .cro-footerUpdate-bottom p {
    margin: 0;
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: center;
}
html body.cro-recipe-33_34-t-1.cro-33_34-firstFold-t-2 p.cro-footerUpdate-middleLeft-content {
    margin: 0;
}
html body.cro-recipe-33_34-t-1.cro-33_34-firstFold-t-2 .cro-footerUpdate-middle {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 62px 0 80px;
}
html body.cro-recipe-33_34-t-1.cro-33_34-firstFold-t-2 .cro-footerUpdate-middleCenter {
    border-left: 1px solid #A6A6A6;
    padding: 0 154px;
    border-right: 1px solid #A6A6A6;
    margin: 0 30px;
}
html body.cro-recipe-33_34-t-1.cro-33_34-firstFold-t-2 .cro-footerUpdate-middleLeft {
    max-width: 231px;
}
html body.cro-recipe-33_34-t-1.cro-33_34-firstFold-t-2 img.cro-footerUpdate-leftImg {
    width: 100%;
    object-fit: contain;
}
html body.cro-recipe-33_34-t-1.cro-33_34-firstFold-t-2 p.cro-footerUpdate-content {
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #5A5A5A;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: left;
    margin: 0;
}
html body.cro-recipe-33_34-t-1.cro-33_34-firstFold-t-2 p.cro-footerUpdate-contact {
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #5A5A5A;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.36px;
    text-align: left;
}
html body.cro-recipe-33_34-t-1.cro-33_34-firstFold-t-2 .cro-footerUpdate-middle-center {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
html body.cro-recipe-33_34-t-1.cro-33_34-firstFold-t-2 .cro-footerUpdate-middleLeft-img {
    max-width: 18px;
    margin-right: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}
html body.cro-recipe-33_34-t-1.cro-33_34-firstFold-t-2 img.cro-footerUpdate-envelop {
    max-width: 16px;
    width: 100%;
    object-fit: contain;
    margin-top: 5px;
}
html body.cro-recipe-33_34-t-1.cro-33_34-firstFold-t-2 .cro-footerUpdate-middle-right {
    display: flex;
    margin-top: 19px;
    align-items: flex-start;
    justify-content: flex-start;
}
html body.cro-recipe-33_34-t-1.cro-33_34-firstFold-t-2 .cro-footerUpdate-middleRight p.cro-footerUpdate-middleLeft-content {
    max-width: 266px;
}
html body.cro-recipe-33_34-t-1.cro-33_34-firstFold-t-2 .cro-footerUpdate-middleCenter p.cro-footerUpdate-middleLeft-content {
    max-width: 195px;
}
html body.cro-recipe-33_34-t-1.cro-33_34-firstFold-t-2 a.cro-footerUpdate-terms {
    margin-left: 22px;
}
/* html body.cro-recipe-33_34-t-1.cro-33_34-firstFold-t-2 .cro-footerUpdate-bottom p a:hover{
    color: rgb(229 154 44);
} */
html body.cro-recipe-33_34-t-1.cro-33_34-firstFold-t-2 #footer{
    display: none;
}
html body.cro-recipe-33_34-t-1.cro-33_34-firstFold-t-2 .cro-footerUpdate-bottom.cro-footerUpdate-bottom-mobile {
    display: none;
} 
@media (min-width: 1024px) and (max-width: 1280px) {
  
    html body.cro-recipe-33_34-t-1.cro-33_34-firstFold-t-2 .cro-footerUpdate-middleCenter{
        padding: 0 54px;
    }
    
}
@media (min-width: 768px) and (max-width: 1023px) {
  
    html body.cro-recipe-33_34-t-1.cro-33_34-firstFold-t-2 .cro-footerUpdate-middleCenter{
        padding: 0 24px;
    }
    
}
@media (max-width: 1023px) {
    html body.cro-recipe-33_34-t-1.cro-33_34-firstFold-t-2 .cro-footerUpdate-bottom.cro-footerUpdate-bottom-desktop {
        display: none;
    }
    html body.cro-recipe-33_34-t-1.cro-33_34-firstFold-t-2 .cro-footerUpdate-bottom.cro-footerUpdate-bottom-mobile {
        display: block;
    } 
    html body.cro-recipe-33_34-t-1.cro-33_34-firstFold-t-2 .cro-banner-updateImg{
        display: none;
    }
    html body.cro-recipe-33_34-t-1.cro-33_34-firstFold-t-2 .cro-t-congratulations h1{
        font-size: 30px;
        line-height: 36.31px;
    }
    html body.cro-recipe-33_34-t-1.cro-33_34-firstFold-t-2 .cro-t-congratulations h2{
        font-size: 24px;
        line-height: 30px;
        max-width: 303px;
    }
    html body.cro-recipe-33_34-t-1.cro-33_34-firstFold-t-2 .cro-t-congratulations p {
        font-size: 18px;
        line-height: 21.78px;
        max-width: 318px;
    }
    #call-to-action-and-form .grid .grid-column.p-normal:not(.cro-t-congratulations){
        display: none;
    }
    html body.cro-recipe-33_34-t-1.cro-33_34-firstFold-t-2 .cro-footerUpdate-topInner{
        padding-top: 37px;
    }
    html body.cro-recipe-33_34-t-1.cro-33_34-firstFold-t-2 .cro-footerUpdate-middle{
        padding: 38px 0 60px;
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
    }
    html body.cro-recipe-33_34-t-1.cro-33_34-firstFold-t-2 .cro-footerUpdate-middleLeft{
        display: none;
    }
    html body.cro-recipe-33_34-t-1.cro-33_34-firstFold-t-2 .cro-footerUpdate-middleCenter{
        border-left: navy;
        padding: 0;
        border-right: none;
        margin: 0 0 38px;
    }
    html body.cro-recipe-33_34-t-1.cro-33_34-firstFold-t-2 a.cro-footerUpdate-terms{
        margin-left: 0;
    }
    html body.cro-recipe-33_34-t-1.cro-33_34-firstFold-t-2 .cro-footerUpdate-bottomInner{
        padding: 24px 0;
    }
}


@media (min-width: 1281px) and (max-width: 1799px) {
  
    html body.cro-recipe-33_34-t-1.cro-33_34-firstFold-t-2 .cro-t-congratulations h2{
        font-size: 22px;
        line-height: 33.31px;
    }
    html body.cro-recipe-33_34-t-1.cro-33_34-firstFold-t-2 .cro-t-congratulations p{
        font-size: 22px;
        line-height: 33.31px;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {

    html body.cro-recipe-33_34-t-1.cro-33_34-firstFold-t-2 .cro-t-congratulations{
        padding: 15px;
    }
  
    html body.cro-recipe-33_34-t-1.cro-33_34-firstFold-t-2 .cro-t-congratulations h1{
        font-size: 30px;
    }
    html body.cro-recipe-33_34-t-1.cro-33_34-firstFold-t-2 .cro-t-congratulations h2{
        font-size: 18px;
        line-height: 24.31px;
    }
    html body.cro-recipe-33_34-t-1.cro-33_34-firstFold-t-2 .cro-t-congratulations p{
        font-size: 18px;
        line-height: 24.31px;;
    }
}




/* cro-recipe-33_34-t-1 */






/* ******************************************************************** */






/* cro-twoPartForm-t-1 */

html body.cro-twoPartForm-t-1.cro-33_34-firstFold-t-2 .cro-step2{
    display: none;
}

html body.cro-twoPartForm-t-1.cro-33_34-firstFold-t-2.cro-formHeader #call-to-action-and-form h4::after {
    content: "Enter your ID number for see if you qualify";
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.78px;
    text-align: left;
    margin-bottom: 30px;
}

html body.cro-twoPartForm-t-1.cro-33_34-firstFold-t-2.cro-formHeader #call-to-action-and-form h4 {
    font-size: 0;
    line-height: 0;
    margin-bottom: 30px;
}

html body.cro-twoPartForm-t-1.cro-33_34-firstFold-t-2.cro-formHeader .btn.primary[type="submit"]{
    display: none;
}

html body.cro-twoPartForm-t-1.cro-33_34-firstFold-t-2.cro-formHeader .cro-id-btn {
    margin-top: 24px;
}

html body.cro-twoPartForm-t-1.cro-33_34-firstFold-t-2 .cro-Id-check-btn {
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.78px;
    text-align: center;
    --tw-text-opacity: 1;
    --tw-bg-opacity: 1;
    background-color: rgb(229 154 44 / var(--tw-bg-opacity));
    border-radius: 9999px;
    text-transform: none;
    letter-spacing: 0;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
    transition-duration: .3s;
    cursor: pointer;
    max-height: 45px;
    height: 100%;
    max-width: 176px;
    width: 100%;
    padding: 16px 38px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

html body.cro-twoPartForm-t-1.cro-33_34-firstFold-t-2 .cro-Id-check-btn:hover {
    --tw-scale-x: 1.03;
    --tw-scale-y: 1.03;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

html body.cro-twoPartForm-t-1.cro-33_34-firstFold-t-2.cro-wrongId #id_number {
    /* border: 2px solid red; */
    --tw-border-opacity: 1;
    border-color: rgb(220 38 38 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(254 202 202 / var(--tw-bg-opacity)) !important;
}

html body.cro-twoPartForm-t-1.cro-33_34-firstFold-t-2.cro-formHeader.cro-formHeader2 #call-to-action-and-form h4::after{
    display: none;
}

html body.cro-twoPartForm-t-1.cro-33_34-firstFold-t-2.cro-formHeader.cro-formHeader2 #id_number{
    display: none;
}

html body.cro-twoPartForm-t-1.cro-33_34-firstFold-t-2.cro-formHeader.cro-formHeader2 .cro-id-btn{
    display: none;
}

html body.cro-twoPartForm-t-1.cro-33_34-firstFold-t-2 .cro-jm-39-loader-gif {
    max-width: 87px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 28px;
}

html body.cro-twoPartForm-t-1.cro-33_34-firstFold-t-2 .cro-jm-39-loader {
    max-width: 275px;
    margin: 0 auto;
}

html body.cro-twoPartForm-t-1.cro-33_34-firstFold-t-2 h3.cro-jm-39-loader-text {
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.78px;
    text-align: left;
    margin: 0;
    max-width: 275px;
    width: 100%;
    margin-bottom: 32px;
}

html body.cro-twoPartForm-t-1.cro-33_34-firstFold-t-2.cro-formHeader3 .cro-jm-39-loader{
    display: none;
}

html body.cro-twoPartForm-t-1.cro-33_34-firstFold-t-2.cro-formHeader3 .cro-id-btn{
    display: none;
}

html body.cro-twoPartForm-t-1.cro-33_34-firstFold-t-2.cro-formHeader3 .cro-step2{
    display: block;
}

html body.cro-twoPartForm-t-1.cro-33_34-firstFold-t-2.cro-formHeader3 #id_number{
    display: none;
}

html body.cro-twoPartForm-t-1.cro-33_34-firstFold-t-2.cro-formHeader.cro-formHeader3 #call-to-action-and-form h4::after {
    content: "Enter your ID number for see if you qualify";
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.78px;
    text-align: left;
    margin-bottom: 30px;
}

html body.cro-twoPartForm-t-1.cro-33_34-firstFold-t-2.cro-formHeader3 #call-to-action-and-form h4:not(.cro-jm-39-newHeader-content){
    display: none;
}

html body.cro-twoPartForm-t-1.cro-33_34-firstFold-t-2 .cro-jm-39-newHeader-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 22px;
    margin-top:3px;
}

html body.cro-twoPartForm-t-1.cro-33_34-firstFold-t-2 h4.cro-jm-39-newHeader-content {
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.78px;
    text-align: left;
    margin: 0;
    margin-left: 13px;
}

html body.cro-twoPartForm-t-1.cro-33_34-firstFold-t-2 .notice.cro-step2 a {
    text-decoration: underline;
}

html body.cro-twoPartForm-t-1.cro-33_34-firstFold-t-2 .form-field.cro-step1 {
    margin-bottom: 0 !important;
    border-radius: 5px;
}

html body.cro-twoPartForm-t-1.cro-33_34-firstFold-t-2 .form-field.cro-step1 input{
    border-radius: 5px;
}

html body.cro-twoPartForm-t-1.cro-33_34-firstFold-t-2 .cro-jm-39-newHeader-img {
    max-width: 20px;
}

html body.cro-twoPartForm-t-1.cro-33_34-firstFold-t-2.cro-formHeader form[method="POST"] {
    margin-bottom: 5px;
}

html body.cro-twoPartForm-t-1.cro-33_34-firstFold-t-2 .form-field.cro-step2 input{
    border-radius: 5px;
}

html body.cro-twoPartForm-t-1.cro-33_34-firstFold-t-2.cro-formHeader3 .btn.primary[type="submit"] {
    max-height: 45px;
    height: 100%;
    max-width: 176px;
    width: 100%;
    padding: 16px 38px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

html body.cro-twoPartForm-t-1.cro-33_34-firstFold-t-2 .cro-jm-39-loader {
    display: none;
}

html body.cro-twoPartForm-t-1.cro-33_34-firstFold-t-2.cro-formHeader2 .cro-jm-39-loader{
    display: block;
}

@media (max-width: 1023px) {
    html body.cro-twoPartForm-t-1.cro-33_34-firstFold-t-2 .cro-Id-check-btn {
        width: 100%;
        max-height: 45px;
        height: 100%;
        min-height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
    }
    html body.cro-twoPartForm-t-1.cro-33_34-firstFold-t-2.cro-formHeader #call-to-action-and-form h4{
        margin-top: 12px;
        margin-bottom: 24px;
    }
    body.cro-twoPartForm-t-1.cro-33_34-firstFold-t-2.cro-formHeader3 #call-to-action-and-form .btn.lg{
        width: auto;
        max-width: 100%;
    }
    html body.cro-twoPartForm-t-1.cro-33_34-firstFold-t-2 .cro-jm-39-newHeader-inner{
        margin-top: 15px;
    }
    html body.cro-twoPartForm-t-1.cro-33_34-firstFold-t-2 h3.cro-jm-39-loader-text{
        max-width: 247px;
        text-align: center;
        margin-bottom: 43px;
    }

    html body.cro-twoPartForm-t-1.cro-33_34-firstFold-t-2.cro-formHeader .cro-id-btn{
        margin-bottom: 23px;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    html body.cro-twoPartForm-t-1.cro-33_34-firstFold-t-2 #call-to-action-and-form h1{
        font-size: 38px;
    }
}

@media (max-width: 1535px) {
    html body.cro-twoPartForm-t-1.cro-33_34-firstFold-t-2 #call-to-action-and-form .relative.container .grid .grid-column:nth-child(3) {
        max-width: 442px;
        width: 100%;
    }
}

@media (min-width: 1280px) and (max-width: 1535px) {
    html body.cro-twoPartForm-t-1.cro-33_34-firstFold-t-2 #call-to-action-and-form .relative.container .grid{
        grid-template-columns: 1fr 1fr 1.5fr;
        column-gap: 1rem;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    html body.cro-twoPartForm-t-1.cro-33_34-firstFold-t-2 #call-to-action-and-form .relative.container .grid{
        grid-template-columns: 0.5fr 1fr 1.5fr;
        column-gap: 1rem;
    }
}

/* cro-twoPartForm-t-1 */

/* updated code */

html body.cro-recipe-33_34-t-1.cro-33_34-firstFold-t-2 a.cro-footerUpdate-terms:hover, html body.cro-recipe-33_34-t-1.cro-33_34-firstFold-t-2 a.cro-footerUpdate-privacy:hover {
    --tw-text-opacity: 1;
    color: rgb(229 154 44 / var(--tw-text-opacity));
}

/* updated code */