/* html body.cro-t-25 .loginbgholder .loginbottompart {
    background-color: #E59A2C !important;
} */

html body.cro-t-25 .loginbgholder .loginbottompart h3.text-white {
    color: #fff !important;
}

html body.cro-t-25 .register-hld.register h1.topcaption {
    /* font-family: 'Roboto', sans-serif; */
    /* color: #E59A2C; */
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 50px;
    text-align: center;
}

html body.cro-t-25 .cro-t-25-from-under-text {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    text-align: left;
    color: #4A4A4A;
    /* margin-top: 18px; */
    max-width: 630px;
    /* margin-left: 60px; */
    padding-top: 12px;
    padding-left: 80px;
    padding-bottom: 45px;
    padding: 12px 10px 45px 80px;
}

html body.cro-t-25 #divIdNumber {
    position: relative;
    margin-bottom: 0px;
}

html body.cro-t-25 .register-hld .container .col-md-9 {
    flex: auto;
    /* max-width: 746px; */
    /* box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.2); */
    /* margin-bottom: 35px; */
    /* border-radius: 5px; */
}

html body.cro-t-25 .col-md-9.px-md-5 {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}

html body.cro-t-25 #registerForm>.cro-From-tnc>div>span {
    color: #22222C;
}

html body.cro-t-25 #btn_TermsCondition_Register-2,
#btn_PrivacyPolicy_Register {
    color: #E59A2C;
}

html body.cro-t-25 .border-dark {
    border-color: #22222C !important;

}

html body.cro-t-25 #registerForm .custom-row .col span.border svg path {
    fill: #22222C;
}

html body.cro-t-25 #registerForm .custom-row .callus {
    color: #22222C !important;
}

/* html body.cro-t-25 .registerbtn>a {
    color: #333333 !important;
} */

/* html body.cro-t-25 .registerbtn {
    color: #333333 !important;
} */

html body.cro-t-25 .cro-From-tnc .switch>span.slider {
    background-color: #333333 !important;
}

html body.cro-t-25 .cro-From-tnc .switch>input:checked+.slider {
    background-color: #E59A2C;
}

html body.cro-t-25 #id-number-form .btn {
    right: 60px;
    background-color: #333 !important;
}

html body.cro-t-25 #divIdNumber input#IdNumber {
    padding-left: 3rem;
}

html body.cro-t-25 .cro-t-25-from-lock-icon {
    position: absolute;
    top: 6px;
    left: 25px;
}

html body.cro-t-25 .cro-lock-icon {
    width: 100%;
}

html body.cro-t-25 .register-hld.register .rgstertext {
    font-style: inherit;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #22222C;
    padding-top: 5px;
    margin-bottom: 19px !important;
}

html body.cro-t-25 .loginbottompart .pt-2 {
    padding-top: 12px !important;
    padding-bottom: 15px !important;
}

html body.cro-t-25 .loginbottompart .plist {
    padding: 0px 0px 0px 19px;
}

/* html body.cro-t-25 .switch>span.slider {
    background-color: #333333 !important;
} */


/* html body.cro-t-25 .switch>input:checked+.slider {
    background-color: #E59A2C !important;
} */


/* html body.cro-t-25 #registerForm>:nth-child(4) .ps-2 {
    color: #333333 !important;
} */

/* html body.cro-t-25 #registerForm>:nth-child(4) .ps-2>a {
    color: #333333 !important;
} */

@media (min-width: 768px) {
    html body.cro-t-25 #id-number-form .btn {
        /* position: absolute; */
        width: 146.78px;
        height: 38px;
        background-color: #333;
        top: 0px;
        right: 0px;
    }

    html body.cro-t-25 #divIdNumber>div>#IdNumber {
        width: 100%;
        max-width: 439px;
    }

    html body.cro-t-25 #id-number-form .btn {
        width: 96px !important;
        display: flex;
        justify-content: center;
    }

    html body.cro-t-25 #divIdNumber {
        padding: 0 10px 0px 80px;
    }

    html body.cro-t-25 #id-number-form {
        position: relative;
    }

    html body.cro-t-25 .registerform .reg-mobile .ps-md-3 {
        width: 112px;
    }

    html body.cro-t-25 .registerform {
        width: 100%;
        max-width: 746px;
        margin-left: 5px !important;
        margin-right: 0 !important;
    }

    html body.cro-t-25 section.register-hld .mt-3 .col-lg-6 {
        width: 100%;
        max-width: 738px;
    }

    html body.cro-t-25 .col.position-relative {
        width: 100%;
        max-width: 439px;
    }

    html body.cro-t-25 .cro-t-25-from-under-part-mobile {
        display: none;
    }

}

@media (min-width: 1400px) {
    html body.cro-t-25 section.register-hld .mt-3 .col-lg-6 {
        margin-left: 15.5rem !important;
    }
}

@media (max-width: 1399px) and (min-width: 768px) {
    html body.cro-t-25 .loginbottompart {
        width: 100%;
        max-width: 250px;
    }

    html body.cro-t-25 .loginbgholder>div.px-md-3 {
        padding-left: 0 !important;
    }

    html body.cro-t-25 .container .col-lg-8.px-md-3 {
        padding-left: .3rem !important;
    }

    html body.cro-t-25 .container .col-lg-8 {
        width: 100%;
        max-width: 743px;
        padding-right: 0rem !important;
        padding-left: 0rem !important;
    }

}

@media (max-width:991px) {

    html body.cro-t-25 .cro-t-25-from-lock-icon {
        left: 25px;
    }

    html body.cro-t-25 #divIdNumber>div>#IdNumber {
        max-width: 400px;
    }
}

@media (max-width:767px) {
    html body.cro-t-25 #divIdNumber>div>#IdNumber {
        max-width: 100%
    }

    html body.cro-t-25 .col-md-9.px-md-5 {
        padding-left: 11px !important;
        padding-right: 11px !important;
    }

    html body.cro-t-25 .register-hld.register .rgstertext {
        padding-top: 5px;
        font-size: 18px;
        line-height: 21.09px;
        margin-bottom: 16px !important;
    }

    html body.cro-t-25 .mobilespce {
        margin-left: 16px !important;
        margin-right: 16px !important;
    }

    html body.cro-t-25 .register-hld.register h1.topcaption {
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 23.44px;
        text-align: left;
    }

    html body.cro-t-25 #id-number-form .btn {
        margin-bottom: 13px !important;

    }
}

@media (max-width:767px) {
    html body.cro-t-25 .cro-t-25-from-lock-icon {
        left: 15px;
        top: 5px;
    }

    html body.cro-t-25 .cro-t-25-from-under-part-mobile {
        display: block;
    }

    html body.cro-t-25 .cro-t-25-from-under-part:not(.cro-t-25-from-under-part-mobile) {
        display: none;
    }

    html body.cro-t-25 .cro-t-25-from-under-text {
        padding: 15px 0px 21px;
    }

    html body.cro-t-25 .register-hld.register .rgstertext {
        text-align: left !important;
    }

    html body.cro-t-25 #divIdNumber input#IdNumber {
        padding-left: 2.4rem;
    }

}

html body.cro-t-25 #registerForm .btn {
    background-color: #333;
}


html body.cro-t-25 .loginbottompart .plist {
    padding: 0px 0px 0px 19px;
    margin: 0 !important;
}


html body.cro-t-25 #id-number-form.ng-invalid .cro-t-25-from-under-part .cro-t-25-from-under-text {
    padding-top: 20px !important;
}



@media (min-width: 768px) {
    html body.cro-t-25 #id-number-form > div.alert.alert-danger {
        margin: 0 0px 10px 80px;
        padding: 5px 10px;
        width: auto;
        font-size: 12px;
    }
}

@media (max-width: 767px) {
    html body.cro-t-25 #id-number-form > div.alert.alert-danger{
        /* font-size: 12px !important; */
        width: 100%;  
        padding: 8px;
        margin: 0 0 8px;
    }
}


/* html body.cro-t-25 form.ng-invalid.ng-submitted .cro-t-25-from-under-part-mobile .cro-t-25-from-under-text {
    padding-top: 20px;
} */