/* Hide the empty separator containers left above the product list after the three sections are moved */
body.CRP_ARC_SW_Brand_Banner_Below .cro-12345-spacer {
    display: none !important;
}

.cro-12345-heading-block .u-margin-bottom--lg {
    margin-bottom: 0;
}

.cro-12345-heading-block .content-row__item__body {
    /* padding-bottom: 1em; */
    padding-left: 0;
    border-bottom: 1px solid #d3d3d3;
    margin-bottom: 1em;
}

@media (max-width: 1023px) {
    .cro-12345-heading-block .content-row__item__body {
        padding-bottom: 1em;
        padding-top: 1em;
    }
}