html body.CRO_8143 div#Block__StepBar {
    position: absolute;
    top: 32px;
}

html body.CRO_8143 #Block__ValidationErrorsCustom {
    padding: 0;
}

html body.CRO_8143 #content .content-row__item__body {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

html body.CRO_8143 #content .content-row__item__body .paragraph-container {
    padding-top: 0;
    padding-bottom: 0;
}

html body.CRO_8143 #content .content-row__item__body .paragraph-container #Block__SummaryContainer,
html body.CRO_8143 #content .content-row__item__body .paragraph-container #Block__SummaryContainer .order-summary-header-container.dw-mod,
html body.CRO_8143 #content .content-row__item__body .paragraph-container #Block__SummaryContainer .order-summary-body-container.dw-mod {
    background: #E6E6E6;
}

html body.CRO_8143 #content .content-row__item__body .paragraph-container #Block__SummaryContainer .order-summary-block-container {
    padding-top: 123px;
    padding-bottom: 64px;
}

html body.CRO_8143 #content .content-row__item__body .paragraph-container #Block__AddressContainer {
    margin-top: 123px;
}

html body.CRO_8143 #content .content-row__item__body .paragraph-container #Block__Shipping {
    padding-top: 0;
    /* height: 380px; */
}

html body.CRO_8143 #content .content-row__item__body .paragraph-container #Block__Shipping .u-shipping-card-body {
    display: flex;
    padding-top: 10px;
    /* height: 350px !important; */
    position: relative;
    flex-wrap: wrap;
    height: auto !important;
}

html body.CRO_8143 #content .content-row__item__body .paragraph-container #Block__Shipping .u-shipping-card-header.dw-mod {
    border-bottom: none;
}

html body.CRO_8143 #content .content-row__item__body .paragraph-container #Block__Shipping .u-shipping-method {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}

html body.CRO_8143 #content .content-row__item__body .paragraph-container #Block__Shipping .u-shipping-method .u-shipping-method-title+div>div {
    display: none;
}

html body.CRO_8143 #content .content-row__item__body .paragraph-container #Block__Shipping .u-shipping-method {
    width: 50%;
    /* padding: 16px 24px; */
    align-items: center;
    display: flex;
}

html body.CRO_8143 #content .content-row__item__body .paragraph-container #Block__Shipping .u-shipping-method {
    /* overflow: visible !important; */
    position: unset;
}

html body.CRO_8143 #content .content-row__item__body .paragraph-container #Block__Shipping .u-shipping-method>.dw-mod {
    align-items: center;
    padding: 16px 24px;
    width: 100%;
    border: 1px solid #D3D3D3;
    width: 100%;
}

html body.CRO_8143 #content .content-row__item__body .paragraph-container #Block__Shipping .u-shipping-method>.dw-mod label {
    padding-bottom: 0;
    width: 100%;
}

html body.CRO_8143 #content .content-row__item__body .paragraph-container #Block__Shipping .u-shipping-method>.dw-mod label:before {
    margin-bottom: 0;
}

html body.CRO_8143 #content .content-row__item__body .paragraph-container #Block__Shipping .u-shipping-method>.dw-mod label+.dw-mod {
    width: 0;
}

html body.CRO_8143 #ShippingProviderContent {
    margin-left: 0;
    padding: 16px 24px;
    border: 1px solid #D3D3D3;
    /* border-top: none; */
    /* position: absolute; */
    background-color: #fff;
    /* width: 94%; */
    left: 0;
    top: 100px;
    /* margin-left: 1.2em; */
    /* padding-left: 0; */
    /* margin-right: 2.4em; */
}

html body.CRO_8143 .u-billing-card-header {
    padding-bottom: 18px !important;
}

html body.CRO_8143 .u-billing-card-header h3:after {
    content: 'Delivery Details';
    color: #333;
    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

html body.CRO_8143 .u-billing-card-header h3 {
    font-size: 0 !important;
}

html body.CRO_8143 #Block__AddressContainerRow {
    flex: none !important;
}

html body.CRO_8143 #Block__OrderContainerRow #Block__StepNavigation .u-pull--left {
    float: right;
}

html body.CRO_8143 #Block__OrderContainerRow #Block__StepNavigation .u-pull--left button.u-cart-navigation-link__nobutton {
    display: none;
}

html body.CRO_8143 #Block__BillingAddress .u-billing-card-body button:before {
    content: 'Already a customer?';
    font-size: 14px;
    cursor: none;
    pointer-events: none;
}

html body.CRO_8143 #Block__BillingAddress .u-billing-card-body button {
    text-align: left;
    background-color: transparent;
    color: #222;
    border: none;
    padding: 0;
    font-size: 0;
    pointer-events: none;
    padding-bottom: 16px;
}

html body.CRO_8143 #Block__BillingAddress .u-billing-card-body button:after {
    content: 'Login';
    font-size: 14px;
    color: #1841C4;
    text-decoration: underline;
    pointer-events: auto !important;
    position: relative;
    left: -12px;
}

html body.CRO_8143 form .grid--external-bleed-x {
    position: relative;
}

html body.CRO_8143 .cro_top_back_button {
    padding-left: 1.2em;
}

html body.CRO_8143 .cro_top_back_button span {
    color: #1841C4;
    font-family: inherit;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 153.846% */
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 110px;
}

html body.CRO_8143 .cro_top_back_button span i {
    font-size: 16px;
    margin-right: 4px;
    /* cursor: pointer; */
}

html body.CRO_8143 .cro_delivery_message {
    width: 100%;
    margin-top: 10px;
}

html body.CRO_8143 .dw-mod.cro_selected_shipping {
    background: #F0F5FA;
}

html body.CRO_8143 .dw-mod.cro_selected_shipping label {
    background: transparent !important;
}

@media (max-width: 991px) {

    html body.CRO_8143 #content .content-row__item__body .paragraph-container #Block__SummaryContainer .order-summary-block-container,
    html body.CRO_8143 #content .content-row__item__body .paragraph-container #Block__SummaryContainer,
    html body.CRO_8143 #content .content-row__item__body .paragraph-container #Block__SummaryContainer .order-summary-header-container.dw-mod,
    html body.CRO_8143 #content .content-row__item__body .paragraph-container #Block__SummaryContainer .order-summary-body-container.dw-mod {
        background: #F0F5FA;


    }

    html body.CRO_8143 #content .content-row__item__body .paragraph-container #Block__SummaryContainer .order-summary-body-container.dw-mod {
        padding: 0 !important;
    }

    html body.CRO_8143 #content .content-row__item__body .paragraph-container #Block__SummaryContainer .order-summary-block-container {
        padding-top: 24px;
        padding-bottom: 24px;
        padding-left: 1.2em;
        padding-right: 1.2em;
    }


    html body.CRO_8143 #content .content-row__item__body .paragraph-container #Block__SummaryContainer .order-summary-body-container.dw-mod label .accordion-static-summary-header-text {
        padding-left: 0;
    }

    html body.CRO_8143 #content .content-row__item__body .paragraph-container #Block__SummaryContainer .order-summary-block-container label:before {
        display: none;
    }

    html body.CRO_8143 #content .content-row__item__body .paragraph-container #Block__SummaryContainer .order-summary-block-container label:after {
        font-family: "Font Awesome 5 Pro";
        content: '';
        font-weight: bold;
        font-size: 22px;
        /* position: absolute; */
        left: 10px;
        top: 6px;
        color: #1841c4;
        -webkit-text-stroke: 1px #d3d3d3;
        margin-left: 5px;
    }

    html body.CRO_8143 #content .content-row__item__body .paragraph-container #Block__SummaryContainer .order-summary-block-container label {
        display: flex;
        align-items: center;
        padding: 0;
    }

    html body.CRO_8143 #content .content-row__item__body .paragraph-container #Block__SummaryContainer .order-summary-block-container label .accordion-static-summary-header-total {
        margin-left: auto;
    }

    html body.CRO_8143 div#Block__StepBar {
        position: relative;
    }

    html body.CRO_8143 form .grid--external-bleed-x #Block__StepBar {
        order: 1;
        top: 0;
    }

    html body.CRO_8143 form .grid--external-bleed-x #Block__ValidationErrorsCustom {
        order: 2;
    }

    html body.CRO_8143 form .grid--external-bleed-x #Block__AddressContainer {
        order: 3;
        margin-top: 10px !important;
    }

    html body.CRO_8143 form .grid--external-bleed-x #Block__SummaryContainer {
        order: 4;
    }

    html body.CRO_8143 #content .content-row__item__body .paragraph-container #Block__Shipping .u-shipping-method>.dw-mod {
        padding: 16px;
        /* flex: 1; */
        height: 100px;
        display: flex !important;
        align-items: center;
    }

    html body.CRO_8143 #content .content-row__item__body .paragraph-container #Block__Shipping .u-shipping-method>.dw-mod label:before {
        width: 16px;
        height: 16px;
        margin-top: auto;
        margin-bottom: auto;
    }

    html body.CRO_8143 #content .content-row__item__body .paragraph-container #Block__Shipping .u-shipping-method>.dw-mod label .u-shipping-method-description-container {
        width: calc(100% - 30px);
    }

    html body.CRO_8143 #ShippingProviderContent {
        padding: 16px;
    }

    html body.CRO_8143 #selectPickUpPointButton {
        padding: 12px;
        font-size: 12px;
    }

    html body.CRO_8143 #content .content-row__item__body .paragraph-container #Block__SummaryContainer #Block__SummaryContainerRow {
        padding: 0 7px;
    }

    html body.CRO_8143 #Block__OrderContainerRow #Block__StepNavigation .u-pull--left {
        display: none;
    }

    html body.CRO_8143 #Block__OrderContainerRow {
        display: none;
    }

    html body.CRO_8143 #content .content-row__item__body .paragraph-container #Block__Shipping .u-shipping-method>.dw-mod label {
        align-items: center !important;
        display: flex;
    }

    html body.CRO_8143 input.accordion-showbefore:checked+label::after {
        content: '' !important;
    }

    html body.CRO_8143 .cro_payement_button {
        order: 5;
        /* border: 1px solid #212121; */
        /* background: #212121; */
        width: 100%;
        display: flex;
        margin: 12px 1.2em;
    }

    html body.CRO_8143 .cro_payement_button button {
        color: #FFF;
        text-align: center;
        font-family: "DM Sans";
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        /* 142.857% */
        letter-spacing: 1px;
        border: 1px solid #212121;
        background: #212121;
        margin: 0 7px;
        width: 100%;
    }
}


body.CRO_8143.cro_details_hide #Block__AddressContainerRow {
    visibility: hidden;
}

body.CRO_8143.cro_details_hide #Block__OrderContainerRow {
    visibility: hidden;
}

html body.CRO_8143 #content .content-row__item__body .paragraph-container #Block__Shipping .u-shipping-method:nth-child(1)>.dw-mod {
    border-right: none;
}