html body.cro-t-86_87 .hs-button.primary.large {
    background-color: #0FA37F;
}

@media (max-width:767px) {
    html body.cro-Recipe-i1.cro-t-86_87 .hbspt-form .hs-form-private {
        padding: 40px 20px;
    }
}