.croRecipe_81.product-view-style-03.catalog-product-view .product-info-main .price-box .price-wrapper .price{
  font-size: 22px;
}

.croRecipe_81.product-view-style-03.catalog-product-view .product-info-main .price-box .special-price .price{
  font-size: 22px;
}

.croRecipe_81.product-view-style-03.catalog-product-view .product-info-main .price-box .old-price .price{
  font-size: 20px;
}