html body.cro-t-63_64 .silo-page .sidebar {
    display: none;
}

html body.cro-t-63_64 #get-my-credit-score picture {
    display: none;
}

html body.cro-t-63_64 #how-to-apply picture {
    display: none;
}

html body.cro-t-63_64 #get-started picture {
    display: none;
}


html body.cro-t-63_64 section#articles-and-insights {
    display: none;
}

html body.cro-t-63_64 section#videos-and-podcasts {
    display: none;
}

html body.cro-t-63_64 #primary>ul>li.group .cro-nav-home {
    display: none;
}



html body.cro-t-63_64 section#videos-and-podcasts-you-may-enjoy {
    display: none;
}

html body.cro-t-63_64 section#videos.relative.dark {
    display: none;
}

/* 
html body.cro-t-63_64 #primary ul>li.group>a:hover>div::before {
    --tw-text-opacity: 1;
    color: rgb(229 154 44 / var(--tw-text-opacity));
} */

/* -------new------- */
html body.cro-t-63_64 .cro-t-overview-section-wrapper {
    margin-bottom: 60px;
}

html body.cro-t-63_64 .cro-t-overview-section-wrapper-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* gap: 10rem; */
}

html body.cro-t-63_64 .cro-t-overview-left-part {
    width: 100%;
    max-width: 49%;
}

html body.cro-t-63_64 .cro-t-overview-left-part p {
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", Noto Color Emoji;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.2px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    margin: 0;
    margin-bottom: 30px;
}

html body.cro-t-63_64 .cro-nav-credit-score {
    display: none;
}

html body.cro-t-63_64 .cro-nav-Banking {
    display: none;
}

html body.cro-t-63_64 .cro-nav-pay {
    display: none;
}

html body.cro-t-63_64 .cro-nav-Secure {
    display: none;
}

/* ------new Update------- */
html body.cro-t-63_64 #primary ul>li.group>a>div small {
    display: none;
}

html body.cro-t-63_64 #primary ul>li.group>a[href="/themes/personal-loans/"]>div::before {
    content: 'Personal loans';
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.25rem;
    line-height: 1.75rem;
    display: block;
    color: rgb(0, 0, 0);
}

html body.cro-t-63_64 nav#primary ul li.group a.text-yellow>div::before {
    --tw-text-opacity: 1;
    color: rgb(229 154 44 / var(--tw-text-opacity));
}

html body.cro-t-63_64 nav ul li a:hover>div:before {
    --tw-text-opacity: 1;
    color: rgb(229 154 44 / var(--tw-text-opacity));
}

html body.cro-t-63_64 #primary ul>li.group>a.text-yellow>div:before {
    --tw-text-opacity: 1;
    color: rgb(229 154 44 / var(--tw-text-opacity));
}

html body.cro-t-63_64 #primary ul>li.group>a>div {
    font-size: 80%;
    --tw-text-opacity: 1;
    color: rgb(117 117 117 / var(--tw-text-opacity));
}

html body.cro-t-63_64 #primary ul>li.group>a[href="/themes/personal-loans/"]>div::before:hover {
    --tw-text-opacity: 1;
    color: rgb(229 154 44 / var(--tw-text-opacity));
}

html body.cro-t-63_64 #primary ul>li.group>a[href="/themes/debt-consolidation/"]>div::before {
    content: 'Debt consolidation';
    font-size: 1.25rem;
    line-height: 1.75rem;
    display: block;
    color: rgb(0, 0, 0);
}

html body.cro-t-63_64 #primary ul>li.group>a[href="/themes/debt-consolidation/"]>div::before:hover {
    --tw-text-opacity: 1;
    color: rgb(229 154 44 / var(--tw-text-opacity));
}

html body.cro-t-63_64 #primary ul>li.group>a[href="/themes/credit-health/"]>div::before {
    content: 'Credit health';
    font-size: 1.25rem;
    line-height: 1.75rem;
    display: block;
    color: rgb(0, 0, 0);
}

html body.cro-t-63_64 #primary ul>li.group>a[href="/themes/savings-investments/"]>div::before {
    content: 'Savings & Investments';
    font-size: 1.25rem;
    line-height: 1.75rem;
    display: block;
    color: rgb(0, 0, 0);
}

html body.cro-t-63_64 #primary ul>li.group>a[href="/themes/banking-money-tips/"]>div::before {
    content: 'Banking & money tips';
    font-size: 1.25rem;
    line-height: 1.75rem;
    display: block;
    color: rgb(0, 0, 0);
}

html body.cro-t-63_64 .cro-t-overview-right-part {
    max-width: 561px;
}

html body.cro-t-63_64 .cro-t-overview-right-img {
    width: 100%;
    max-width: 561px;
    overflow: hidden;
    min-height: 500px;
}

html body.cro-t-63_64 img.cro-t-banner-img {
    width: 100%;
    transform: scale(1.1);
    position: relative;
    min-height: 493px;
    object-fit: cover;
}

html body.cro-t-63_64 #primary ul>li.group>a:hover>div::before {
    --tw-text-opacity: 1;
    color: rgb(229 154 44 / var(--tw-text-opacity));
}


@media (min-width: 1024px) {
    html body.cro-t-63_64 .silo-page .lg\:grid-cols-4 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (max-width:1279px) {
    html body.cro-t-63_64 .cro-t-overview-right-part {
        width: 100%;
        max-width: 45%;
    }

    html body.cro-t-63_64 .cro-t-banner-img {
        width: 100%;
        object-fit: cover;
    }
}

@media (max-width:1023px) and (min-width:768px) {
    html body.cro-t-63_64 .cro-t-overview-left-part {
        max-width: 45%;
    }

    html body.cro-t-63_64 .cro-t-overview-right-part {
        max-width: 49%;
    }

    html body.cro-t-63_64 .cro-t-overview-section-wrapper-inner {
        align-items: center;
    }
}

@media (min-width:768px) {
    html body.cro-t-63_64 .cro-t-overview-section-mob {
        display: none;
    }
}

@media (max-width:767px) {
    html body.cro-t-63_64 .cro-t-overview-section {
        display: none;
    }

    html body.cro-t-63_64 .cro-t-overview-right-part-mob {
        width: 100%;
    }

    html body.cro-t-63_64 img.cro-t-banner-img-mob {
        width: 100%;
        transform: scale(1);
        position: relative;
        min-height: 512px;
        object-fit: cover;
    }

    html body.cro-t-63_64 .cro-t-overview-left-part-mob p,
    html body.cro-t-63_64 .cro-t-overview-footer-text-mob p {
        font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", Noto Color Emoji;
        font-size: 20px;
        font-weight: 400;
        line-height: 24.2px;
        text-align: left;
        margin-bottom: 30px;

    }

    html body.cro-t-63_64 .cro-t-overview-left-part-mob h2 {
        font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", Noto Color Emoji;
        font-size: 30px;
        font-weight: 700;
        line-height: 36.31px;
        text-align: left;
        color: #000000;

    }

    html body.cro-t-63_64 .cro-t-overview-right-img-mob {
        width: 100%;
        max-width: 100%;
        overflow: hidden;
        min-height: 512px;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    html body.cro-t-63_64 p.cro-banner-text-1 {
        margin-bottom: 0;
        margin-top: 14px;
    }

    html body.cro-t-63_64 #primary ul>li.group>a>div::before {
        font-size: 18px !important;
        line-height: 24px !important;
    }

    html body.cro-t-63_64 #primary ul>li.group>a>div {
        font-size: 14.4px;
    }

}

html body.cro-t-63_64 #primary ul>li.group>a[href="/themes/credit-health/"]+ul a[href="/themes/credit-health/#videos-and-podcasts"] {
    display: none;
}

html body.cro-t-63_64 #primary ul>li.group>a[href="/themes/personal-loans/"]+ul a[href="/themes/personal-loans/#articles-and-insights"] {
    display: none;
}

html body.cro-t-63_64 #primary ul>li.group>a[href="/themes/personal-loans/"]+ul a[href="/themes/personal-loans/#videos-and-podcasts"] {
    display: none;
}

html body.cro-t-63_64 #primary ul>li.group>a[href="/themes/debt-consolidation/"]+ul a[href="/themes/debt-consolidation/#articles-and-insights"] {
    display: none;
}

html body.cro-t-63_64 #primary ul>li.group>a[href="/themes/credit-health/"]+ul a[href="/themes/credit-health/#articles-and-insights"] {
    display: none;
}

html body.cro-t-63_64 #primary ul>li.group>a[href="/themes/savings-investments/"]+ul a[href="/themes/savings-investments/#articles-and-insights"] {
    display: none;
}

html body.cro-t-63_64 #primary ul>li.group>a[href="/themes/savings-investments/"]+ul a[href="/themes/savings-investments/#videos"] {
    display: none;
}

html body.cro-t-63_64 #primary ul>li.group>a[href="/themes/banking-money-tips/"]+ul a[href="/themes/banking-money-tips/#articles-and-insights"] {
    display: none;
}

html body.cro-t-63_64 #primary ul>li.group>a[href="/themes/banking-money-tips/"]+ul a[href="/themes/banking-money-tips/#videos-and-podcasts-you-may-enjoy"] {
    display: none;
}


html body.cro-t-63_64.cro-t-not-fire .silo-page section#overview {
    display: none;
}


@media (max-width: 767px) {
    html body.cro-t-63_64 .silo-page section#key-features .md\:grid-cols-1 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

@media (min-width: 768px) {
    html body.cro-t-63_64 .silo-page section#key-features .md\:grid-cols-1 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

@media (min-width: 1024px) {
    html body.cro-t-63_64 .silo-page section#key-features .lg\:grid-cols-4 {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}