.cro-t-91-heading p {
    font-family: inherit;
    font-size: 16px;
}

.cro-t-91-heading h2 {
    font-size: 24px;
    color: rgb(38, 54, 72);
    font-family: inherit;
    font-weight: 700;
}


@media (min-width: 768px) {
    .cro-t-91-heading p {
        font-size: 18px;
    }
}

body.CRO-test91-ID-4781 .blurb [data-hs-cos-field="top_blurb"] {
    display: none;
}

html body.CRO-test91-ID-4781 .cro-fields-hidden#hs-form-iframe-0 {
    height: 110px !important;
}